%table.table
  %tr
    %th 欄位名稱
    %th 說明
  %tr
    %td n
    %td
      目錄節點編號，可以用於取得下層目錄。例如：
      =link_to_url '/catalog_entry?q=CBETA.001'
  %tr
    %td node_type
    %td
      %p 如果 node_type 為 'alt' 表示 CBETA 未收錄此經全文，而是對應到其他藏經的全文。
      %p
        例如：
        =link_to_url '/catalog_entry?q=Vol-J.001'
        回傳：
        %pre
          :preserve
            {
              "num_found": 42,
              "results": [
                {
                  "n": "Vol-J.001.001",
                  "label": "JA001(=T0293) 大方廣佛華嚴經 (40卷)",
                  "node_type": "alt"
                },...
              ]
            }
  %tr
    %td
      juan_start,
      %br
      juan_end
    %td
      目錄節點所指向的可能是某部典籍的部份卷數，例如：
      =link_to_url '/catalog_entry?q=CBETA.003.001'
      %p 回傳：
      %pre
        :preserve
          {
            "num_found": 2,
            "results": [
              {
                "n": "CBETA.003.001.001",
                "work": "T0220",
                "label": "T0220 大般若波羅蜜多經 (1~200卷)",
                "category": "般若部",
                "creator": "唐 玄奘譯",
                "juan_start": 1,
                "juan_end": 200,
                "file": "T05n0220a"
              },
              ...
            ]
          }