%h2#text 文字
%p 每個文字片段都會以 &lt;span class="t"> 包起來，例如 T01n0001_p0001a02: 
.code
  %pre
    :escaped
      <span class="t" l="0001a02" w="5">序</span>
%ul
  %li l="0001a02" 是這個文字片段所在行號。
  %li w="5" 是這個文字片段在本行文字的起始位置。以此例來說，本行文字是「長阿含經序」，因此「序」是本行的第5個字。
