%h2#links 連結

%p 例 Y08n0008_p0007a09
.code
  %pre
    :escaped
      <span class="cbeta-link" data-linehead="T02n0099_p0202c03">
        <span class="t" l="0007a09" w="7">七八二經</span>
      </spen>

%p class="cbeta-link" 表示這是連至 CBETA。
%p data-linehead 屬性放的是 CBETA 行首資訊。
