%h2#form form

%p 例 G114n2302_p0381a14
.code
  %pre
    :escaped
      <p class="form">
        <span class="t" l="0381a14" w="1">一月喻三舟</span>
        <small class='inline-note doube-line-note'>
          <span class="t" l="0381a14" w="6">出華嚴經疏</span>
        </small>
      </p>