%h2#table 表格
%p 例 T49n2035_p0158c17：
.code
  %pre
    :escaped
      <div class="bip-table">
        <div class='bip-table-row'>
          <div class="bip-table-cell">大品(晉羅什譯)</div>
          <div class="bip-table-cell" rowspan="2">第一會鷲峯山說四百卷(七十七品單譯)</div>
        </div>
        <div class='bip-table-row'>
          <div class="bip-table-cell">放光(晉羅叉譯)</div>
        </div>
        ...
      </div>

%p &lt;div class="bip-table"> 對應 HTML table 元素。
%p &lt;div class='bip-table-row'> 對應 HTML tr 元素。
%p &lt;div class='bip-table-cell'> 對應 HTML td 元素。