%hr
%h2#person 人名

%p 例 GA009n0008_p0006a04
.code
  %pre
    :escaped
      <a id="person_start_1" class="person_start" data-key="A006952"></a>
      周應賓
      <a id="person_end_1" class="person_end" data-key="A006952"></a>

%p id="person_start_1" 表示這是第一個人名的開始。
%p class="person_start" 表示這是人名的起點。
%p data-key="A006952" 對應到 Authority ID.
%p id="person_end_1" 表示這是第一個人名的結束。
%p class="person_end" 表示這是人名的結束點。
