%h2#classes Classes

%h3#class_circle circle
%p 文字外包圓圈，例 G104n2254_p0335a19
.code
  %pre
    :escaped
      <span class="circle">甲</hi>

%h3#class_pl_size pl-{size}
%p 例如 pl-2 表示 padding-left:2em。
%p 目前只有出現 pl-2 和 pl-4 這二種，CBReader 支援 pl-1 至 pl-8 八種。
