%h2#head 章節標題

%p 第一層章節標題，例 T01n0001_p0001a02
.code
  %pre
    :escaped
      <p data-head-level="1" class="head">長阿含經序</p>

%p 第二層章節標題，例 T01n0001_p0001b11
.code
  %pre
    :escaped
      <p data-head-level="2" class="head">（一）第一分初大本經第一</p>

%p 依此類推。