%h2#copyright 版權資訊

%p 在各卷 HTML 最後有版權資訊，例 T0001_001:
.code
  %pre
    :escaped
      <div id='cbeta-copyright'>
        <p>
          【經文資訊】《大正新脩大藏經》第 1 冊 No. 1 長阿含經<br/>
          【版本記錄】發行日期：2021-01，最後更新：2020-12-09<br/>
          【編輯說明】本資料庫由中華電子佛典協會（CBETA）依《大正新脩大藏經》所編輯<br/>
          【原始資料】蕭鎮國大德提供，張文明大德提供，北美某大德提供，法雨道場提供新式標點<br/>
          【其他事項】詳細說明請參閱【<a href='http://www.cbeta.org/copyright' target='_blank'>中華電子佛典協會資料庫版權宣告</a>】
        </p>
      </div>
