%h2#gaiji 缺字
%p 例 T01n0011_p0223b16
.code
  %pre
    :escaped
      <a class='gaijiAnchor' href='#CB00595'>麨</a>
%p 上例中的 CB00595 是缺字碼，「麨」是它的通用字。
%p 
  CBETA 缺字資訊可以在這裡查到：
  =link_to nil, 'https://github.com/cbeta-org/cbeta_gaiji'
%p 某些缺字沒有通用字，a 裡面就會包組字式，例如：T01n0020_p0261c10
.code
  %pre
    :escaped
      <a class='gaijiAnchor' href='#CB01887'>[佩-一]</a>
