%h2#graphic 圖片
%p 例 T16n0719_p0845c19
.code
  %pre
    :escaped
      <img src="https://raw.githubusercontent.com/cbeta-git/CBR2X-figures/master/T/T16p0845_01.gif" class="graphic" />

%p src 屬性直接指到 CBETA 公開放在 GitHub 上的圖片。