%h2#gaiji 缺字

%p 如果有對應的 Unicode 3.0 以內字元，會直接採用，不會有任何標示。
%p 否則會有如下標記：
.code
  %pre
    :escaped
      <a class='gaijiAnchor' href='CB缺字碼'>預設呈現字元</a>

%p 「預設呈現字元」優先次序如下：
%ul
  %li Unicode 10.0 以內的字元
  %li Unicode 通用字在 Unicode 10.0 以內
  %li Big5 通用字
  %li 組字式

%p 
  例 
  =link_to 'T01n0011_p0223b16', 'https://cbetaonline.dila.edu.tw/T01n0011_p0223b16'
.code
  %pre
    :escaped
      <a class='gaijiAnchor' href='#CB00595'>麨</a>
%p 上例中的 CB00595 是缺字碼，「麨」是它的通用字。

%p 
  檔尾會以
  %code &lt;span class="gaijiInfo"> 
  標記提供相關資訊。例如：
  .code
    %pre
      :escaped
        <span 
          class="gaijiInfo" 
          id="CB00595" 
          figure_url="https://raw.githubusercontent.com/cbeta-org/gaiji-CB/master/00/CB00595.gif" 
          norm="麨" 
          zzs="[麩-夫+少]" 
          moe="c17920">
          麨
        </span>

%p 上述 span 元素的屬性：
%table.table
  %tr
    %th 屬性名稱
    %th 說明
  %tr
    %td id
    %td CBETA 缺字編號
  %tr
    %td uni_char
    %td 
      該缺字對應的 Unicode 字元，例 
      =link_to 'D02n8680_p0003a04', 'https://cbetaonline.dila.edu.tw/D02n8680_p0003a04'
      .code
        %pre
          :escaped
            <span 
              class="gaijiInfo" 
              id="CB29787" 
              figure_url="https://raw.githubusercontent.com/cbeta-org/gaiji-CB/master/29/CB29787.gif" 
              unicode="2E4DC" 
              uni_char="𮓜" 
              norm="虎" 
              zzs="[皮-(〡/又)+(王/巾)]" 
              moe="a03604-035">
              𮓜
            </span>
  %tr
    %td unicode
    %td 
      該缺字對應的 Unicode 字元編碼，例
      =link_to 'D02n8680_p0003a04', 'https://cbetaonline.dila.edu.tw/D02n8680_p0003a04'
      .code
        %pre
          :escaped
            <span 
              class="gaijiInfo" 
              id="CB29787" 
              figure_url="https://raw.githubusercontent.com/cbeta-org/gaiji-CB/master/29/CB29787.gif" 
              unicode="2E4DC" 
              uni_char="𮓜" 
              norm="虎" 
              zzs="[皮-(〡/又)+(王/巾)]" 
              moe="a03604-035">
              𮓜
            </span>
  %tr
    %td norm
    %td 
      通用字，可能多值，例 
      =link_to 'D18n8863_p0286a02', 'https://cbetaonline.dila.edu.tw/D18n8863_p0286a02'
      .code
        %pre
          :escaped
            <span 
              class="gaijiInfo" 
              id="CB32591" 
              figure_url="https://raw.githubusercontent.com/cbeta-org/gaiji-CB/master/32/CB32591.gif" 
              norm="發；𰤑" 
              zzs="[發-(弓*殳)+((〦/力)*ㄆ)]">
              發
            </span>
  %tr
    %td zzs
    %td= link_to "組字式", 'https://cbeta.org/format/rare-rule.php'
  %tr
    %td moe
    %td 
      =link_to "教育部《異體字字典》", "https://dict.variants.moe.edu.tw/"
      編號

%p 
  完整的 CBETA 缺字資訊可以在這裡查到：
  =link_to nil, 'https://github.com/cbeta-org/cbeta_gaiji'
