%h2#person 地名

%p 例 GA009n0008_p0003a02
.code
  %pre
    :escaped
      <a id="place_start_1" class="place_start" data-key="PL13847"></a>
      普陀
      <a id="place_end_1" class="place_end" data-key="PL13847"></a>

%p id="place_start_1" 表示這是第一個地名的開始。
%p class="place_start" 表示這是地名的起點。
%p data-key="PL13847" 對應到 Authority ID.
%p id="place_end_1" 表示這是第一個地名的結束。
%p class="place_end" 表示這是地名的結束點。
