%h2#facsimile 連結原書掃描圖

%p 例 T42n1828_p0311a01
.code
  %pre
    :escaped
      <a class="facsimile" data-ref="Tv42p0312">

%p 
  前端可根據以上標記連至 大正藏掃描圖：
  =link_to nil, 'https://dia.dila.edu.tw/uv3/index.html?id=Tv42p0312'

%p 其他例子還有：
%p 連 高麗藏
.code
  %pre
    :escaped
      <a class="facsimile" data-s="dongguk" data-ref="K0647.17.0816.b">

%p 連 國圖善本 
.code
  %pre
    :escaped
      <a class="facsimile" data-ref="Dv14p0001">

%p 連 佛寺志 
.code
  %pre
    :escaped
      <a class="facsimile" data-ref="GAv001p0224">

%p 連 嘉興藏
.code
  %pre
    :escaped
      <a class="facsimile" data-ref="JMv1147p004">
