%h2#punc 標點
%p 每個標點片段都會包在 &lt;span class="pc"> 裡面，例 T01n0001_p0001a05
.code
  %pre
    :escaped
      夫宗極絕於稱謂<span class="pc">，</span>
%p CBETA 目前收錄的佛典，尚未全部都有新式標點，有三種情況：
%ul
  %li 新式標點
  %li 原書標點
  %li AI 標點

%h3 CBETA
%p 這會在 body 下的第一層 div 中記錄，data-punc="CBETA" 表示這是由 CBETA 製作的新式標點，例如 T0001_001
.code
  %pre
    :escaped
      <div id='body' data-punc="CBETA">

%h3 DILA
%p data-punc="DILA" 表示這是由 法鼓文理學院 製作的新式標點，例 GA0008_001:
.code
  %pre
    :escaped
      <div id="body" data-punc="DILA">

%h3 AI
%p 
  data-punc="AI" 表示使用
  = surround '「', '」' do
    =link_to '古籍酷 自动标点', 'https://gj.cool/about?tab=punct#punctuation'
  製作的新式標點初稿，例如 X0008_001:
.code
  %pre
    :escaped
      <div id='body' data-punc="AI">

%h3 orig
%p data-punc="orig" 表示是原書的標點，例 A1057_001：
.code
  %pre
    :escaped
      <div id='body' data-punc="orig">
