%h1 Catalog
%ul
  %li= link_to '目錄', { controller: 'static_pages', action: 'catalog'}
  %li= link_to '佛典範圍搜尋', { controller: 'static_pages', action: 'works'}
  %li= link_to '以作譯者搜尋', { controller: 'static_pages', action: 'creators'}
  %li= link_to '以時間搜尋', { controller: 'static_pages', action: 'time'}
