%h1 目錄
%h2 一、根目錄
%p
  取得 CBETA 各種目錄:
  =link_to_url '/catalog_entry?q=root'

%h2 二、CBETA 部類目錄
%p
  取得 CBETA 部類目錄:
  =link_to_url '/catalog_entry?q=CBETA'

%p 回傳：
%pre
  :preserve
    {
      "num_found": 21,
      "results": [
        {
          "n": "CBETA.001",
          "label": "01 阿含部類 T01-02,25,33 etc."
        },
        ...
        {
          "n": "CBETA.021",
          "label": "21 新編部類 ZS01, ZW01-09, I01"
        }
      ]
    }

%h2 三、原書目錄
%p 
  取得原書目錄：
  =link_to_url '/catalog_entry?q=orig'

%p
  可取得某一部藏經的原書目錄，例如要取得其中《大正藏》原書目錄：
  =link_to_url "/catalog_entry?q=orig-T"

%p 
  其他各藏，依此類推在 
  %code
    "orig-" 
  之後加上藏經 ID。

%h2 四、回傳欄位
.chapter
  =render partial: 'catalog-return'
