%h1 category 參數

%p 指定部類

%p 例： #{ link_to_url '/kwic3?q=法鼓&category=阿含部類' }

%p 可用部類名稱：

%ul
  %li 本緣部類
  %li 阿含部類
  %li 般若部類
  %li 法華部類
  %li 華嚴部類
  %li 寶積部類
  %li 涅槃部類
  %li 大集部類
  %li 經集部類
  %li 密教部類
  %li 律部類
  %li 毘曇部類
  %li 中觀部類
  %li 瑜伽部類
  %li 論集部類
  %li 淨土宗部類
  %li 禪宗部類
  %li 史傳部類
  %li 事彙部類
  %li 敦煌寫本部類
  %li 國圖善本部類
  %li 南傳大藏經部類
  %li 新編部類