%h1 CBETA 部類
%ul
  %li 阿含部類
  %li 本緣部類
  %li 般若部類
  %li 法華部類
  %li 華嚴部類
  %li 寶積部類
  %li 涅槃部類
  %li 大集部類
  %li 經集部類
  %li 密教部類
  %li 律部類
  %li 毘曇部類
  %li 中觀部類
  %li 瑜伽部類
  %li 論集部類
  %li 淨土宗部類
  %li 禪宗部類
  %li 史傳部類
  %li 事彙部類
  %li 敦煌寫本部類
  %li 國圖善本部類
  %li 漢譯南傳大藏經部類
  %li 新編部類