%h1 Changes (內容修訂紀錄)
%ul
  %li endpoint: /changes/:lb
  %li Note: 標點修訂不記錄。

%h2 Parameters
%table.table
  %tr
    %th 參數名稱
    %th 說明
  %tr
    %td lb
    %td
      %ul
        %li in: path
        %li required: true
        %li 
          example: 
          =link_to_url '/changes/A091n1057_p0321a10'

%h2 Response
.code
  %pre
    :escaped
      {
        num_found: 1,
        results: [
          {
            id: 1,
            lb: "A091n1057_p0321a10",
            html: "見真理，故常生疑惑也。翳字又作翳。蒙言愛也。）漂淪（淪，力<span class="del">勺</span><span class="ins">勻</span>反。《<span class="del">王</span><span class="ins">玉</span>篇》曰：「逾，",
            ver: "2025R2"
          }
        ]
      }