%h1 中文工具
%ul
  %li= link_to '分詞簡易界面', controller: 'word_seg', action: 'index'
  %li= link_to '分詞 API', controller: 'static_pages', action: 'word_seg'
  %li= link_to '簡體轉繁體', controller: 'static_pages', action: 'sc2tc'
