%h1 下載 HTML 格式佛典

%h2 一卷一檔
%p 例： #{ link_to_url '/download/html/A1057_001.html' }

%h2 一部典籍一個 zip 檔
%p 例： #{ link_to_url '/download/html/A1057.html.zip' }

%h2 檔案內容
%h3 缺字資訊
%p 例： #{ link_to_url '/download/html/T0001_002.html.zip' }
%p 檔案中有缺字資訊： &lt;span class="gaiji" data-gid="CB02596">𥡳&lt;/span>