%h1 edition 參數說明
%p
	指定版本，預設為 CBETA。

%h2 允許的值
%ul
	%li CBETA
	%li 大
	%li 大→CB
	%li 大→unknown
	%li 大→丁
	%li 大→万
	%li 大→丙
	%li 大→中
	%li 大→久
	%li 大→乙
	%li 大→元
	%li 大→內
	%li 大→別
	%li 大→北藏
	%li 大→北藏-CB
	%li 大→卍續
	%li 大→南
	%li 大→南藏
	%li 大→博
	%li 大→原
	%li 大→和
	%li 大→嘉興
	%li 大→大曆
	%li 大→宋
	%li 大→宮
	%li 大→宮乙
	%li 大→己
	%li 大→德
	%li 大→戊
	%li 大→房山
	%li 大→敦
	%li 大→敦丙
	%li 大→敦乙
	%li 大→敦方
	%li 大→日光
	%li 大→明
	%li 大→明異
	%li 大→東
	%li 大→森
	%li 大→流布別本
	%li 大→流布本
	%li 大→流通本
	%li 大→獅谷
	%li 大→甲
	%li 大→知
	%li 大→石
	%li 大→磧
	%li 大→磧砂
	%li 大→福
	%li 大→福乙
	%li 大→縮
	%li 大→聖
	%li 大→聖丙
	%li 大→聖乙
	%li 大→補編
	%li 大→西
	%li 大→醍
	%li 大→金
	%li 大→高
	%li 大→麗
	%li 大→麗-CB
	%li 大→麗乙
	%li 大→龍
	%li 大→Ａ
	%li 大→Ｂ