%h1 Export
%ul
  %li 
    Metadata for
    =link_to 'TextRef', 'https://textref.org/'
    %ul
      %li= link_to_url '/textref/meta.csv', 'MetaURL'
      %li= link_to_url '/textref/data.csv', 'DataURL'
