%h1
  CBETA API 
  =Rails.configuration.cb.ver
%ul
  %li
    提供各種 API 搜尋、存取
    %a{href: 'http://www.cbeta.org'} CBETA
    電子佛典。
  %li 
    請於呼叫 API 時在 HTTP request header 設定
    =link_to "Referer", "https://zh.wikipedia.org/wiki/HTTP參照位址"
    ，以便存取分析。
  %li
    全集成統計數字：
    =link_to_url '/report/total'
  %li
    Documentation in OpenAPI format:
    =link_to nil, rswag_ui_path

%h1 Health Check
%p=link_to_url '/health'

-#%h1 說明文件
-#%p=link_to nil, "https://app.swaggerhub.com/apis-docs/Ray.Chou/CBETA-API/1.2"

%h1 開發者社群
%p=link_to nil, "https://github.com/DILA-edu/cbeta-api"

%h1 感謝
%ul
  %li 感謝 教育部、#{link_to('國家教育研究院', 'https://www.naer.edu.tw')} 授權 #{link_to('法鼓文理學院', 'http://www.dila.edu.tw')} 使用 #{link_to('教育部《異體字字典》', 'https://dict.variants.moe.edu.tw')}。

%h1 About Us
%p
  %a{href: 'http://www.dila.edu.tw'} 法鼓文理學院
  %a{href: 'http://lic.dila.edu.tw'} 圖書資訊館
  %a{href: 'http://lic.dila.edu.tw/digital_archives_projects'} 數位典藏組
  製作 2016.04-2024.10
%p 圖書資訊館 館長：洪振洲
%p 軟體工程師：周邦信 <ray@dila.edu.tw>
