%h1
  CBETA API 
  =Rails.configuration.x.ver
%p
  提供各種 API 搜尋、存取
  %a{href: 'http://www.cbeta.org'} CBETA
  電子佛典。

%h1 說明文件
%p=link_to nil, "https://app.swaggerhub.com/apis-docs/Ray.Chou/CBETA-API/1.2"

%h1 開發者社群
%p=link_to nil, "https://github.com/DILA-edu/cbeta-api"

%h1 感謝
%ul
  %li 感謝#{link_to('國家教育研究院', 'https://www.naer.edu.tw')}授權#{link_to('法鼓文理學院', 'http://www.dila.edu.tw')}使用#{link_to('《教育部異體字字典》', 'https://dict.variants.moe.edu.tw/variants')}

%h1 About Us
%p
  %a{href: 'http://www.dila.edu.tw'} 法鼓文理學院
  %a{href: 'http://lic.dila.edu.tw'} 圖書資訊館
  %a{href: 'http://lic.dila.edu.tw/digital_archives_projects'} 數位典藏組
  製作 2016.04-2020.10
%p 圖書資訊館 館長：洪振洲
%p 軟體工程師：周邦信 <ray@dila.edu.tw>