%h1 KWIC3
%p 搜尋，並傳回前後文。只限單卷。
%ul
  %li 例： #{ link_to_url '/kwic3/juan?work=X0600&juan=11&q=法鼓' }
  %li 夾注不列入搜尋範圍，以達成「跨夾注檢索」的目的。例如「差(音雌)別」，搜尋「差別」會找到。
  %li 回傳前後文(kwic 欄位)會含夾注，15字以上會節略，例如：「法無諍三昧法門上卷(云如⋯中略6618字⋯解脫)按從初𤼵心至成佛道一身」。

%hr
%h2 NEAR
%p=link_to_url '/kwic3/juan?work=T1736&juan=1&q="老子" NEAR/7 "道"'
%p NEAR/ 後面的數字 表示兩個關鍵詞中間的距離.

%h3 多個詞的 NEAR:
%p=link_to_url '/kwic3/juan?work=T2036&juan=21&q="老子" NEAR/7 "道" NEAR/3 "經"'

%hr
%h2 Exclude
%h3 排除前搭配
%p 
  搜尋「直心」，排除「正直心」：
  =link_to_url '/kwic3/juan?work=T0099&juan=26&q=直心&negative_lookbehind=正'
%h3 排除後搭配
%p 
  搜尋「舍利」，排除「舍利弗」：
  =link_to_url '/kwic3/juan?work=T0001&juan=17&q=舍利&negative_lookahead=弗'

%hr
%h2 關鍵字含雙引號
%p 
  需 escape 例：
  =link_to_url '/kwic3/juan?work=B0170&juan=3&q=Your \"mang-kun\"'

%hr
%h2 可使用參數
%table.table
  %tr
    %th 參數名稱
    %th 
    %th 說明
  %tr
    %td work
    %td 必要
    %td 佛典編號
  %tr
    %td juan
    %td 必要
    %td 卷號
  %tr
    %td q
    %td 必要
    %td
      要搜尋的關鍵字，多個關鍵字以半形逗點區隔。
      例： #{ link_to_url '/kwic3/juan?work=X0600&juan=11&q=法鼓,聖嚴' }
  %tr
    %td mark
    %td 選項
    %td 回傳 kwic 欄位中的關鍵字前後是否加 mark 標記： 0: 不加(預設值)。 1: 要加。
  %tr
    %td sort
    %td 選項
    %td
      'f': forward concordance, 以關鍵字後面的字排序。<br/>
      'b': backword concordance, 以關鍵字前面的字排序。<br/>
      'location': 搜尋範圍在單卷之中才能使用，依關鍵字出現的位置排序。<br/>
      預設為 'f'。
