%h1 KWIC3: Keyword in Context
%p 加速：將 text 檔保持在記憶體中。

%ul
  %li 資料是全部 CBETA版
  %li 回傳的 KWIC 字串含標點
  %li 回傳結果可以依「典籍編號+卷號」排序
  %li
    可以選擇是否要回傳
    %ul
      %li 地理資訊、經緯度座標
      %li next_word_count, prev_word_count    

%h2 使用範例
%ul
  %li 例： #{ link_to_url '/kwic3?q=法鼓' }

%h2 可使用參數
%table.table
  %tr
    %th 參數名稱
    %th 
    %th 說明
  %tr
    %td q
    %td 必要
    %td 要搜尋的關鍵字
  %tr
    %td category
    %td 選項
    %td 
      部類
      %ul
        %li 例： #{ link_to_url '/kwic3?q=法鼓&category=阿含部類' }
        %li=link_to '可使用部類名稱', controller: 'static_pages', action: 'category'
  %tr
    %td work
    %td 選項
    %td 典籍編號
  %tr
    %td works
    %td 選項
    %td 指定多個佛典編號，以半形逗點區隔，例如 works=T0001,T0002
  %tr
    %td juan
    %td 選項
    %td 卷號
  %tr
    %td rows
    %td 選項
    %td 一次回傳幾筆，預設為 10。
  %tr
    %td start
    %td 選項
    %td 回傳的起始 offset，預設為 0。
  %tr
    %td sort
    %td 選項
    %td
      'f': forward concordance, 以關鍵字後面的字排序。<br/>
      'b': backword concordance, 以關鍵字前面的字排序。<br/>
      'location': 搜尋範圍在單卷之中才能使用，依關鍵字出現的位置排序。<br/>
      預設為 'f'。
  %tr
    %td around
    %td 選項
    %td 回傳關鍵字的前後字數，預設為 5
  %tr
    %td seg
    %td 選項
    %td 
      是否回傳自動分詞。<br />
      0: No (預設值)；1: Yes。
  %tr
    %td callback
    %td 選項
    %td JsonP 的封裝字串，用於 Cross-site Ajax 操作時使用。

%h3 回傳資訊選項
%table.table
  %tr
    %td place
    %td 是否回傳地理資訊（並非全部佛典均有地理資訊）： 0: 不回傳（預設值）。1: 要回傳。
  %tr
    %td word_count
    %td 是否回傳前綴、後綴字數統計： 0: 不回傳（預設值）。 1: 要回傳。
  %tr
    %td kwic_w_punc
    %td 是否回傳含標點的文字： 0: 否。 1: 是(預設值)。
  %tr
    %td kwic_wo_punc
    %td 是否回傳不含標點的文字： 0: 否。 1: 是(預設值)。
  %tr
    %td mark
    %td 回傳 kwic 欄位中的關鍵字前後是否加 mark 標記： 0: 不加(預設值)。 1: 要加。

%h2 回傳總體格式：
%table.table
  %tr
    %th 欄位名稱
    %th 內容
  %tr
    %td num_found
    %td 關鍵字出現的次數
  %tr
    %td time
    %td 查詢所花費的時間，以秒為單位。
  %tr
    %td prev_word_count
    %td 前一個字出現次數，按頻次排序
  %tr
    %td next_word_count
    %td 後一個字出現次數，按頻次排序

%h2 回傳單筆資料格式：
%table.table
  %tr
    %th 欄位名稱
    %th 內容
  %tr
    %td vol
    %td 冊數
  %tr
    %td work
    %td 佛典編號（俗稱經號）
  %tr
    %td juan
    %td 卷號
  %tr
    %td lb
    %td 行號
  %tr
    %td kwic
    %td 關鍵字前後文。
  %tr
    %td kwic_no_punc
    %td 關鍵字前後文，去標點。
  %tr
    %td place_name
    %td 地名
  %tr
    %td place_id
    %td 地點在「地名規範資料庫」中的 ID
  %tr
    %td place_long
    %td 經度
  %tr
    %td place_lat
    %td 緯度