%h1 更新紀錄

%h2 2024-06 Version 3.2.0
%ul
  %li 
    大正藏 連 高麗藏掃描圖，詳見：
    =link_to_url '/static_pages/html_for_ui#facsimile'

%h2 2024-04 Version 3.0.0
%ul
  %li 內容更新至 CBETA 2024.R1。
  %li Search engine 改用 Manticore 6.2.12
  %li endpoint /sphinx 改為 /search，舊網址預定 2025 起停用。
  %li endpoint /kwic3/juan 改為 /search/kwic，舊網址預定 2025 起停用。
  %li 
    新增 /search/similar 相似搜尋功能，詳見：
    =link_to_url '/static_pages/search_similar'
  %li 
    ='/search/notes'
    %ul
      %li 含夾注
      %li around 參數決定回傳 highlight 欄位關鍵字前後字數
      %li 回傳 note_place 欄位
  %li
    ='/search/variants 異體字查詢'
    %ul
      %li 如果「搜尋字串」中含「組字式」，會列出該缺字的：Unicode、Big5 通用字、Unicode 通用字。
  %li 
    文本 HTML
    %ul
      %li 
        新增 CBETA 內部連結，詳見：
        =link_to_url '/static_pages/html_for_ui#links'
      %li
        擴增 缺字資訊，詳見：
        =link_to_url '/static_pages/html_for_ui#gaiji'

%h2 2023-12 Version 2.2.1
%ul
  %li 
    「經目搜尋」新增回傳 linehead (行首資訊) ，例
    =link_to_url '/toc?q=譬喻'

%h2 2023-11 Version 2.2.0
%ul
  %li 內容更新至 CBETA 2023 Q4。

%h2 2023-11 Version 2.1.0
%ul
  %li Sphinx title 搜尋 改為模糊搜尋，至少3個字符合。

%h2 2023-08 Version 2.0.0
%ul
  %li 
    Sphinx 全文 index 分兩套：含夾注、不含夾注 (預設含夾注)。
    %ul
      %li /sphinx/notes: 取消 note_place 參數
      %li /sphinx/all_in_one: 新增 note 參數，指定是否含夾注
  %li 
    KWIC index 分兩套：含夾注、不含夾注。
    %ul
      %li /kwic3/juan: 新增 note 參數，指定是否含夾注
  %li Sphinx、KWIC 不區分大小寫。

%h2 2023-07 Version 1.3.3
%ul
  %li 內容更新至 CBETA 2023 Q3。
  %li new canon: CC

%h2 2023-07 Version 1.3.2
%ul
  %li /juans/goto，回傳欄位 增加 linehead

%h2 2023-02 Version 1.3.1
%ul
  %li 內容更新至 CBETA 2023 Q1。
  %li 全文檢索 Sphinx, KWIC 接受 單引號、雙引號、半形減號（須 escape）。

%h2 Version 1.3.0
%ul
  %li 
    目錄：取消「分冊目錄」，比照 CBReader 提供「原書目錄」。詳見：
    =link_to_url '/static_pages/catalog'
  %li 
    佛典內文 HTML footnotes 原用 &lt;span class='footnote'>，因可能含多段落（例 B35n0195_p0798a03），改用 &lt;div class='footnote'>。
  %li 
    佛典資訊 成立地點 places 欄位多值，例：
    =link_to_url '/works?work=T1501'
  %li 存取紀錄可按 Referer 輸出報表。
  %li 
    Fix bug: 
    =link_to_url '/juans/goto?canon=LC&work=1'

%h2 2022-11 Version 1.2.31
%ul
  %li 存取紀錄若無 Referer，則記錄 IP。
  %li
    Fix bugs: 存取紀錄匯出 CSV

%h2 2022-11 Version 1.2.30
%ul
  %li Referer 來自 *.cn 的屏蔽 TX, Y

%h2 2022-10 Version 1.2.29
%ul
  %li 穩定版網址改為 https://cbdata.dila.edu.tw/stable, 舊網址 https://cbdata.dila.edu.tw/v1.2 將於 2023 Q1 起停用。
  %li 內容更新至 CBETA 2022 Q4
  %li KWIC 只限單卷。
  %li 
    校注
    %ul
      %li 
        星號校注新增流水號，詳見：
        =link_to_url '/static_pages/html_for_ui#note_star'
      %li
        提供資訊可用來連結至「CBETA 校訂考證資料庫」，見：
        =link_to_url '/static_pages/html_for_ui#note_research'
  %li Metadata for TextRef
  %li 
    佛典相關資訊（作譯者、年代等）改由
    =link_to "DILA Authority", "https://github.com/DILA-edu/Authority-Databases/tree/master/authority_catalog"
    取得。
  %li 目次回傳資料在允許情況下提供 type 與 n 欄位。
  %li
    全文檢索
    %ul
      %li Sphinx all_in_one 參數 canon 允許多值。
      %li sphinx/variants 異體字查詢，允許參數 scope=title，於經名中存在的才回傳。方便前端提供「搜尋經名」功能時可提供「異體字建議」。
  %li 
    存取紀錄
    %ul
      %li 新增 Referer 欄位，建議呼叫 API 時在 HTTP request header 設定 Referer，以便存取分析。
      %li 可匯出 CSV.
  
%h2 2022-07 Version 1.2.28
%ul
  %li 內容更新至 CBETA 2022 Q3
  %li
    字數統計規則更新，並加說明:
    =link_to_url '/static_pages/word_count'
  %li 
    Download 純文字版佛典 => 一部佛典一個 zip 檔：新增目次，例如 
    =link_to_url '/download/text/T0001.txt.zip', 'T0001.txt.zip'
    裡面的 T0001-toc.txt

%h2 2022-01 Version 1.2.27
%ul
  %li
    以前的版本，如果單詞被夾注切斷，會搜不到。例如：搜尋「差別」，搜不到「差(音雌)別」。
    %br
    因此做以下調整：
    %ul
      %li Sphinx 全文檢索：夾注移至註解區，內文區的全文檢索不含夾注。因此可以達成「跨夾注搜尋」的功能。
      %li KWIC：不含夾注。
  %li
    Q1 新增《太虛大書全書》，Catalog 新增以下功能：
    %ul
      %li 
        各藏部別目錄：
        =link_to_url '/catalog_entry?q=bu'
      %li
        各藏冊別目錄：
        =link_to_url '/catalog_entry?q=vol'
    詳見說明：
    =link_to_url '/static_pages/catalog'

%h2 更舊的紀錄
%p=link_to '2017-2021', { controller: 'static_pages', action: 'log_old'}
