%h1 更新記錄

%h2 2021-10 Version 1.2.26
%ul
  %li 國圖善本佛典(D)增加掃描圖連結
  %li kwic3 參數 canon 可以指定多部藏經，例如 canon=T,X
  %li 「前綴」、「後綴」改為「前搭配」、「後搭配」
  %li 原書註[11]，CBETA 拆為 11a、11b，註標 [11] 應不顯示, 例如：T10n0279_p0428b26.

%h2 2021-02 Version 1.2.23
%ul
  %li 內容更新至 CBETA 2021.Q1

%h2 2020-11 Version 1.2.22
%ul
  %li 內容更新至 CBETA 2020.Q4
  %li 佛寺志 新增 人名、地名

%h2 2020-10-26 Version 1.2.21
%p
  Sphinx Search 限制搜尋範圍，部類、作譯者兩項語法擴充，
  `a,b+c,d` 表示 (a OR b) AND (c OR d)

%h2 2020-10-16 Version 1.2.20
%ul
  %li 移除 /sphinx/group 功能

%h2 2020-09-24
%ul
  %li 異體字建議功能加入《教育部異體字字典》

%h2 2020-09 Version 1.2.19
%ul
  %li 內容更新至 CBETA 2020.Q3

%h2 2020-07-15 Version 1.2.18
%ul
  %li Sphinx Search Titles.

%h2 2020-07-15 Version 1.2.17
%ul
  %li Sphinx Search Footnotes，回傳關鍵字前後原用 b 標記，改用 mark 標記。

%h2 2020-07-15 Version 1.2.16
%ul
  %li 單卷 KWIC，多關鍵字。

%h2 2020-07-02 Version 1.2.15
%ul
  %li 下載整卷校註，CSV 格式。

%h2 2020-06-29 Version 1.2.14
%ul
  %li 「搜尋校註 (search footnotes)」提供 AND, OR, NOT, NEAR 功能。

%h2 2020-04-30 Version 1.2.13
%ul
  %li 新增「搜尋校註 (search footnotes)」功能

%h2 2020-04 Version 1.2.12
%ul
  %li 內容更新至 CBETA 2020.Q1

%h2 2020-01 Version 1.2.11
%ul
  %li 內容更新至 CBETA 2019.Q4

%h2 2019-10 Version 1.2.10
%ul
  %li 內容更新至 CBETA 2019.Q3
  %li 
    goto 接受 CBETA 2019 新引用格式
    %ul
      %li 單行：CBETA 2019.Q3, T30, no. 1579, p. 279a7
      %li 跨行：CBETA 2019.Q3, T30, no. 1579, p. 279a7-23
      %li 跨欄：CBETA 2019.Q3, T30, no. 1579, p. 279a7-b23
      %li 跨頁：CBETA 2019.Q3, T30, no. 1579, pp. 279a7-280b26

%h2 2019-07 Version 1.2.9
%ul
  %li 內容更新至 CBETA 2019.Q2

%h2 2019-04 Version 1.2.8
%ul
  %li 內容更新至 CBETA 2019.Q1
  %li 佛寺志連結原書掃描圖檔

%h2 2019-01 Version 1.2.7
%ul
  %li 內容更新至 CBETA 2018.Q4

%h2 2018-11 Version 1.2.6
%ul
  %li 內容更新至 CBETA 2018.Q3
  %li 新增功能：佛典自動分詞

%h2 2018-07-02 Version 1.2.5
%ul
  %li 內容更新至 CBETA 2018.Q2
  
%h2 2018-05-21
%p 提供 https

%h2 1.2.4
%ul
  %li 內容更新至 CBETA 2018.Q1

%h2 1.2.3
%ul
  %li 內容更新至 CBETA 2017.Q4
  %li 不再提供宋元明等多對校版本，只提供 CBETA 版。
  
%h2 1.2.2
%ul
  %li 內容更新至 CBETA 2017.Q3
  
%h2 1.2.1
%ul
  %li 內容更新至 CBETA 2017.Q2

%h2 2017-02-15
%ul
  %li Sphinx 新增 Facet, Group 功能
  
%h2 1.2
%ul
  %li 藏經代碼: W 與 ZW 統一為 ZW，H 與 ZS 統一為 ZS.
  
%h2 1.1
%ul
  %li 內容新增：A 趙城金藏、B 大藏經補編、C 中華大藏經-中華書局版、D 國家圖書館善本佛典、F 房山石經、G	佛教大藏經、H(ZS) 正史佛教資料類編、I 北朝佛教石刻拓片百品、K 高麗大藏經-新文豐版、L 乾隆大藏經-新文豐版、M 卍正藏經-新文豐版、N 漢譯南傳大藏經、P 永樂北藏、S 宋藏遺珍-新文豐版、U 洪武南藏、W 藏外佛教文獻
  %li KWIC 2.2 回傳 KWIC 字串含標點