%h1 更新記錄

%h2 2022-01 Version 1.2.27
%ul
  %li
    以前的版本，如果單詞被夾注切斷，會搜不到。例如：搜尋「差別」，搜不到「差(音雌)別」。
    %br
    因此做以下調整：
    %ul
      %li Sphinx 全文檢索：夾注移至註解區，內文區的全文檢索不含夾注。因此可以達成「跨夾注搜尋」的功能。
      %li KWIC：不含夾注。
  %li
    Q1 新增《太虛大書全書》，Catalog 新增以下功能：
    %ul
      %li 
        各藏部別目錄：
        =link_to_url '/catalog_entry?q=bu'
      %li
        各藏冊別目錄：
        =link_to_url '/catalog_entry?q=vol'
    詳見說明：
    =link_to_url '/static_pages/catalog'