%h1 範圍選擇清單

%p 供前端做「範圍選擇」樹狀目錄使用。

%ul
  %li=link_to '依部類選擇', controller: 'export', action: 'scope_selector_by_category'
  %li=link_to '依刊本選擇', controller: 'export', action: 'scope_selector_by_vol'
  %li=link_to '作譯者依筆劃', controller: 'export', action: 'creator_strokes'
  %li=link_to '作譯者依筆劃(含譯著)', controller: 'export', action: 'creator_strokes_works'
  %li=link_to '朝代期間典籍列表', controller: 'export', action: 'dynasty_works'
