%h1 經目搜尋
%p 
  搜尋某個關鍵詞，例如「阿含」:
  =link_to_url '/search/toc?q=阿含'

%p 回傳：
%pre
  :preserve
    {
      "num_found": 46,
      "results": [
        {
          "type": "catalog",
          "n": "Cat-T.001",
          "label": "TB01 阿含部 T01~02 (1~151 經)"
        },
        ...
      ]
    }

%h2 回傳結果排序
%p 經目搜尋功能會在三大部份中搜尋：
%ul
  %li 部類目錄
  %li 佛典標題（經名）
  %li 佛典內目次

%p 部類目錄的搜尋結果依出現次序排序。

%p 經名搜尋結果，按「CBETA 全文檢索順序」+ 佛典編號(經號)：
%ul
  %li
    藏經主體
    %ul
      %li T  (大正藏)
      %li X  (新纂卍續藏)
  %li
    藏經補輯
    %ul
      %li A  (宋—金藏)
      %li K  (宋—高麗藏)
      %li S  (宋—宋藏遺珍)
      %li F  (隋～明—房山石經)
      %li C  (宋～清—中華藏)
      %li D  (唐～清—國圖善本)
      %li U  (明—洪武南藏)
      %li P  (明—永樂北藏)
      %li J  (明—嘉興藏)
      %li L  (清—乾隆藏)
      %li G  (民國—佛教大藏經)
      %li M  (民國—卍正藏)
      %li N  (民國新譯—南傳大藏經)
  %li
    近代新編
    %ul
      %li ZS  (民國新編—正史佛教資料類編)
      %li I  (民國新編—佛教石刻拓片百品)
      %li ZW  (民國新編—藏外佛教文獻)
      %li B  (民國新編、新譯—大藏經補編)  
      %li GA (民國新編—中國佛寺志-A)
      %li GB (民國新編—中國佛寺志-B)

%p 佛典內目次搜尋結果排序同上。

%h2 回傳結果中的 type
%table.table
  %tr
    %th type 欄位的值
    %th 說明
  %tr
    %td catalog
    %td 在部類目錄中搜尋的結果
  %tr
    %td work
    %td 在 佛典標題（經名）中搜尋的結果
  %tr
    %td toc
    %td 在 佛典內目次標題 中搜尋的結果
</ul>
