%h1 使用 Sphinx 做全文檢索
%p
  例：#{link_to_url '/sphinx?q=法鼓'}
%h2 參數
%table.table
  %tr
    %td 參數名稱
    %td 說明
  %tr
    %td q
    %td
      要搜尋的字詞，可以包含組字式。
      %p 例如 《新集藏經音義隨函錄(第13卷-第30卷)》卷17：「[幻-ㄠ+糸]術」(CBETA, K35, no. 1257, p. 189b6), 組字式 escape 之後：[幻-ㄠ%2B糸]
      %p
        查詢 URL: #{link_to_url '/sphinx?q=[幻-ㄠ%2B糸]'}
  %tr
    %td fields
    %td 
      指定要回傳哪些欄位，例：
      =link_to_url '/sphinx?q=法鼓&fields=work,juan,term_hits'
  %tr
    %td start
    %td 分頁回傳的起始 offset，預設為 0.
  %tr
    %td rows
    %td 一次回傳幾筆，預設為 20.
  %tr
    %td order
    %td
      %p 排序，例如按照文獻成立的年代排序：#{link_to_url '/sphinx?q=法鼓&order=year'}
      %p 也可以指定多個排序欄位，例如先以年代排序、再以經號排序：
      %p=link_to_url '/sphinx?q=法鼓&order=time_from,time_to,work'
      %p 但是排序欄位最多五個，而且如果指定了 time_from 或 time_to 會各佔兩個欄位，因為必須以 has_time_from 或 has_time_to 先排序。
      %p 每一個排序欄位都可以指定使用升冪排序或降冪排序：
      %ul
        %li 指定升冪排序：order=time_from+
        %li 指定降冪排序：order=time_from-
      %p 可用做排序的欄位：
      %ul
        %li canon: 藏經 ID，依照 CBETA 制定的檢索順序：T X A K S F C D U P J L G M N ZS I ZW B GA GB
        %li category: 部類
        %li juan: 卷號
        %li vol: 冊號，例如：T01
        %li work: 佛典編號，例如：T0001
        %li time_from: 佛典成立的起始年代
        %li time_to: 佛典成立的結束年代
        %li term_hits: 該卷中關鍵字出現的筆數

%h2 回傳總資訊
%table.table
  %tr
    %th 欄位名稱
    %th 內容
  %tr
    %td query_string
    %td 正規化之後的搜尋字串。（搜尋字串中的標點會被去除，組字式會轉為 UPA)
  %tr
    %td num_found
    %td 符合條件的卷數
  %tr
    %td total_term_hits
    %td 關鍵詞出現的總次數
  %tr
    %td results
    %td 符合條件的各卷詳細資訊

%h2 回傳 hits 中的單筆資訊
%table.table
  %tr
    %th 欄位名稱
    %th 內容
  %tr
    %td juan
    %td 卷號
  %tr
    %td category
    %td 部類，例如「阿含部類」。
  %tr
    %td canon
    %td 藏經 ID，例如「T」。
  %tr
    %td vol
    %td 冊號，例如「T01」。
  %tr
    %td term_hits
    %td 關鍵詞出現的次數。
  %tr
    %td work
    %td 佛典編號，例如「T0026」。
  %tr
    %td 其他
    %td 以及其他關於該部佛典的相關資訊，詳見：#{link_to_url '/static_pages/work'}。
    
%h2 回傳範例
%pre
  :preserve
    {
      "num_found": 2628,
      "total_term_hits": 3860,
      "results": [
        {
          "id": 12298,
          "juan": 1,
          "category": "法華部類",
          "canon": "T",
          "vol": "T09",
          "work": "T0270",
          "term_hits": 31,
          "work": "T0270",
          "category": "法華部",
          "title": "大法鼓經",
          "creators": "求那跋陀羅",
          "file": "T09n0270",
          "juan_start": 1,
          "byline": "劉宋 求那跋陀羅譯",
          "time_dynasty": "劉宋",
          "time_from": 420,
          "time_to": 479
        },
        {
          "id": 12297,
          "juan": 1,
          "category": "法華部類",
          "canon": "T",
          "vol": "T09",
          "work": "T0270",
          "term_hits": 30,
          "work": "T0270",
          "category": "法華部",
          "title": "大法鼓經",
          "creators": "求那跋陀羅",
          "file": "T09n0270",
          "juan_start": 1,
          "byline": "劉宋 求那跋陀羅譯",
          "time_dynasty": "劉宋",
          "time_from": 420,
          "time_to": 479
        },
        {
          "id": 12299,
          "juan": 1,
          "category": "法華部類",
          "canon": "T",
          "vol": "T09",
          "work": "T0270",
          "term_hits": 30,
          "work": "T0270",
          "category": "法華部",
          "title": "大法鼓經",
          "creators": "求那跋陀羅",
          "file": "T09n0270",
          "juan_start": 1,
          "byline": "劉宋 求那跋陀羅譯",
          "time_dynasty": "劉宋",
          "time_from": 420,
          "time_to": 479
        },
        ...
      ]
    }