openapi: 3.0.0
info:
  version: '1.2'
  title: CBETA API
  description: API to access CBETA Chinese Buddhist Texts Resources.

servers:
  - url: http://cbdata.dila.edu.tw/v1.2
    description: Main server
  - url: http://api.cbetaonline.cn/
    description: Mirror server

paths:
  /catalog_entry:
    get:
      summary: Returns a catalog entry information, including its children.
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/catalog-entry-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/catalog-entry-parameters.yaml#/vol'
      responses:
        '200':
          description: A Catalog Entry Object
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/catalog-entry-response.yaml'
  /juans:
    get:
      summary: 典籍的某一卷
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-parameters.yaml#/juan'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-parameters.yaml#/work_info'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-parameters.yaml#/toc'
      responses:
        '200':
          description: 某一卷的文本內容 in HTML format.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-response.yaml'
  /juans/goto:
    get:
      summary: Goto
      externalDocs: 
        url: 'https://github.com/DILA-edu/cbeta-api/blob/main/openapi/juans-goto.md'
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/canon'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/juan'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/page'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/col'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/line'
      responses:
        '200':
          description: 回傳 Goto 所需相關資訊.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-response.yaml'
  /kwic3:
    get:
      summary: Keyword in Context Version 3
      description: |
        * 回傳的 KWIC 字串含標點
        * 回傳結果可以依「典籍編號+卷號」排序
        * 可以選擇是否要回傳
          * 地理資訊、經緯度座標
          * next_word_count, prev_word_count
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/category'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/works'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/juans-goto-parameters.yaml#/juan'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/rows'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/sort'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/around'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/callback'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/place'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/word_count'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/kwic_w_punc'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/kwic_wo_punc'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/mark'
      responses:
        '200':
          description: search result.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-response.yaml'
  /kwic3/juan:
    get:
      summary: 單卷 KWIC3
      description: 在單卷範圍內做 KWIC 搜尋
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-juan-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-juan-parameters.yaml#/juan'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-juan-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-parameters.yaml#/sort'
      responses:
        '200':
          description: search result.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/kwic3-juan-response.yaml'
  /lines:
    get:
      summary: text lines
      description: >
        使用範例：
        
          * 取得某行文字 /lines?linehead=T01n0001_p0001a04
          * 取得某行，以及前2行，後3行： /lines?linehead=T01n0001_p0001a09&before=2&after=3
          * 取得某段行號起迄範圍內文字： /lines?linehead_start=T01n0001_p0001a04&linehead_end=T01n0001_p0001a05
          * 跨卷也沒問題： /lines?linehead_start=T01n0001_p0011a01&linehead_end=T01n0001_p0011a06
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/lines-parameters.yaml#/linehead'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/lines-parameters.yaml#/before'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/lines-parameters.yaml#/after'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/lines-parameters.yaml#/linehead_start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/lines-parameters.yaml#/linehead_end'
      responses:
        '200':
          description: text lines.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/lines-response.yaml'
  /sphinx:
    get:
      summary: Full Text Search
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/category'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/canon'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/works'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/creator'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/dynasty'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/time'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/work_type'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/puncs'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/rows'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/order'
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-response.yaml'
  /sphinx/all_in_one:
    get:
      summary: Full Text Search
      description: |
        全文檢索並一次回傳 CBETA Online 前端所需的各種資料：

          * 一併回傳 KWIC (Keyword in Context)
          * 可選擇是否連同 facet 一起回傳。
          * 分頁以卷為單位。
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-all_in_one-parameters.yaml#/facet'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/category'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/canon'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/works'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/creator'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/dynasty'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/time'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/work_type'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/puncs'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/rows'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/order'
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-response.yaml'
  /sphinx/extended:
    get:
      summary: Search with Extended Query Syntax
      description: Sphinx 做全文檢索 (擴充模式)
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-extended-parameters.yaml#/q'
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-response.yaml'
  /sphinx/facet/canon:
    get:
      summary: Faceted Search by 藏經 ID
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 法鼓
          schema:
            type: string
      responses:
        '200':
          description: search result
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    canon:
                      type: string
                      description: 藏經 ID
                      example: T
                    docs:
                      type: integer
                      description: number fo matched documents (卷/篇章)
                      example: 382
                    hits:
                      type: integer
                      description: number fo keyword occurences
                      example: 569
                    canon_name:
                      type: string
                      description: 藏經名稱
                      example: 大正新脩大藏經
  /sphinx/facet/category:
    get:
      summary: Faceted Search by Category (CBETA 部類)
      description: 一部典籍可能屬於多個部類。
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 法鼓
          schema:
            type: string
      responses:
        '200':
          description: search result
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    category_id:
                      type: integer
                      example: 17
                    docs:
                      type: integer
                      description: number fo matched documents (卷/篇章)
                      example: 382
                    hits:
                      type: integer
                      description: number fo keyword occurences
                      example: 569
                    category_name:
                      type: string
                      example: 禪宗部類
  /sphinx/facet/creator:
    get:
      summary: Faceted Search by Creator ID
      description: 根據作譯者 ID。
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 法鼓
          schema:
            type: string
      responses:
        '200':
          description: search result
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    creator_id:
                      type: string
                      example: A001519
                    docs:
                      type: integer
                      description: number fo matched documents (卷/篇章)
                      example: 382
                    hits:
                      type: integer
                      description: number fo keyword occurences
                      example: 569
                    creator_name:
                      type: string
                      example: 道宣
  /sphinx/facet/dynasty:
    get:
      summary: Faceted Search by Dynasty (朝代)
      description: 根據典籍成立的朝代。
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 法鼓
          schema:
            type: string
      responses:
        '200':
          description: search result
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    dynasty:
                      type: string
                      example: 清
                    docs:
                      type: integer
                      description: number fo matched documents (卷/篇章)
                      example: 382
                    hits:
                      type: integer
                      description: number fo keyword occurences
                      example: 569
  /sphinx/facet/work:
    get:
      summary: Faceted Search by Work
      description: 根據典籍。
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 法鼓
          schema:
            type: string
      responses:
        '200':
          description: search result
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    work:
                      type: string
                      description: 典籍編號 (經號)
                      example: B0088
                    docs:
                      type: integer
                      description: number fo matched documents (卷/篇章)
                      example: 382
                    hits:
                      type: integer
                      description: number fo keyword occurences
                      example: 569
                    title:
                      type: string
                      description: 典籍標題 (經名)
                      example: 古今圖書集成選輯（上）
  /sphinx/facet:
    get:
      summary: Faceted Search
      description: 一次回傳五種 faceted search 結果： canon, category, dynasty, creator, work
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 法鼓
          schema:
            type: string
      responses:
        '200':
          description: search result
          content:
            application/json:
              schema: 
                type: object
                properties:
                  canon:
                    type: array
                    items:
                      type: object
                  category:
                    type: array
                    items:
                      type: object
                  creator:
                    type: array
                    items:
                      type: object
                  dynasty:
                    type: array
                    items:
                      type: object
                  work:
                    type: array
                    items:
                      type: object
  /sphinx/footnotes:
    get:
      summary: Search Footnotes
      description: 限制搜尋範圍的參數都可以使用，參考 `/sphinx`
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-extended-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-parameters.yaml#/rows'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-all_in_one-parameters.yaml#/facet'
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-footnotes-response.yaml'
  /sphinx/title:
    get:
      summary: Search Titles
      description: 搜尋典籍標題（經名）
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-extended-parameters.yaml#/q'
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-title-response.yaml'
  /sphinx/sc:
    get:
      summary: 簡體字轉繁體，並回傳筆數
      description: 限制搜尋範圍的參數也都可以使用，參考 /sphinx 參數說明。
      parameters:
        - name: q
          in: query
          required: true
          description: 要轉換的字詞。
          example: 四圣谛
          schema:
            type: string
      responses:
        '200':
          description: 轉換後的繁體中文，以及 CBETA 中出現的筆數。
          content:
            application/json:
              schema: 
                type: object
                properties:
                  q:
                    type: string
                    description: 轉換後的繁體中文
                    example: 四聖諦
                  hits:
                    type: integer
                    description: CBETA 中出現的筆數
                    example: 2860
  /sphinx/synonym:
    get:
      summary: 近義詞 (near synonym) 建議
      description: 限制搜尋範圍的參數也都可以使用，參考 /sphinx 參數說明。
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 文殊師利
          schema:
            type: string
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                type: object
                properties:
                  num_found:
                    type: integer
                    description: number of suggestions
                    example: 3
                  results:
                    type: array
                    description: list of suggestions
                    items:
                      type: string
                    example: ["滿殊尸利", "曼殊室利", "妙德", "妙首", "妙吉祥", "文殊", "妙吉祥菩薩", "妙音", "曼殊"]
  /sphinx/variants:
    get:
      summary: 異體字建議
      description: 限制搜尋範圍的參數也都可以使用，參考 /sphinx 參數說明。
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字詞。
          example: 著衣持鉢
          schema:
            type: string
      responses:
        '200':
          description: search results.
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/sphinx-variants-response.yaml'
  /toc:
    get:
      summary: 目次 (Table of content)
      description: >
        # 目次
        
        ## 取得某部典籍內的目次
        
        例如取得 T0001 的目次: /toc?work=T0001
        
        ## 搜尋
        
        在三大部份中搜尋：
          * 部類目錄
          * 典籍標題（經名）
          * 典籍內目次
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-parameters.yaml#/q'
      responses:
        '200':
          description: >
            部類目錄的搜尋結果依出現次序排序。  
            
            經名搜尋結果，按「CBETA 全文檢索順序」+ 典籍編號(經號)：
              * 藏經主體
                * T (大正藏)
                * X (新纂卍續藏)
              * 藏經補輯
                * A (宋—金藏)
                * K (宋—高麗藏)
                * S (宋—宋藏遺珍)
                * F (隋～明—房山石經)
                * C (宋～清—中華藏)
                * D (唐～清—國圖善本)
                * U (明—洪武南藏)
                * P (明—永樂北藏)
                * J (明—嘉興藏)
                * L (清—乾隆藏)
                * G (民國—佛教大藏經)
                * M (民國—卍正藏)
                * N (民國新譯—南傳大藏經)
              * 近代新編
                * ZS (民國新編—正史佛教資料類編)
                * I (民國新編—佛教石刻拓片百品)
                * ZW (民國新編—藏外佛教文獻)
                * B (民國新編、新譯—大藏經補編)
                * GA (民國新編—中國佛寺志-A)
                * GB (民國新編—中國佛寺志-B)
            
            典籍內目次搜尋結果排序同上。
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-response.yaml'
              examples:
                objectExample:
                  $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-response-example.yaml'
  /works:
    get:
      summary: 典籍相關資訊
      description: >
        例：
          * 取得某部典籍的資訊, 取得 T0001 的資訊： /works?work=T0001
          * 指定冊數起迄： /works?canon=T&vol_start=1&vol_end=2
          * 指定經號起迄： /works?canon=T&work_start=1&work_end=2
          * 指定 嘉興藏 經號起迄： /works?canon=J&work_start=A1&work_end=A2
          * 以作譯者 ID 搜尋： /works?creator_id=A000439
          * 搜尋唐朝成立的佛典： /works?dynasty=唐
          * 搜尋多個朝代： /works?dynasty=符秦,前秦
          * 搜尋成立年代在公元 600年至700年之間的佛典： /works?time_start=600&time_end=700
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/work'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/canon'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/vol_start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/vol_end'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/creator_id'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/creator'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/creator_name'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/dynasty'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/time_start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/time_end'
      responses:
        '200':
          description: Works Information
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-response.yaml'