openapi: 3.0.0
info:
  version: '1.2'
  title: CBETA API
  description: API to access CBETA Chinese Buddhist Texts Resources.

servers:
  - url: http://cbdata.dila.edu.tw/v1.2
    description: Main server
  - url: http://api.cbetaonline.cn/
    description: Mirror server

paths:
  /catalog_entry:
    get:
      summary: Returns a catalog entry information, including its children.
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/catalog-entry-parameters.yaml#/q'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/catalog-entry-parameters.yaml#/vol'
      responses:
        '200':
          description: A Catalog Entry Object
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/catalog-entry-response.yaml'
  /toc:
    get:
      summary: 經目搜尋
      description: >
        經目搜尋功能會在三大部份中搜尋：
          * 部類目錄
          * 典籍標題（經名）
          * 典籍內目次
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-parameters.yaml#/q'
      responses:
        '200':
          description: >
            部類目錄的搜尋結果依出現次序排序。  
            
            經名搜尋結果，按「CBETA 全文檢索順序」+ 典籍編號(經號)：
              * 藏經主體
                * T (大正藏)
                * X (新纂卍續藏)
              * 藏經補輯
                * A (宋—金藏)
                * K (宋—高麗藏)
                * S (宋—宋藏遺珍)
                * F (隋～明—房山石經)
                * C (宋～清—中華藏)
                * D (唐～清—國圖善本)
                * U (明—洪武南藏)
                * P (明—永樂北藏)
                * J (明—嘉興藏)
                * L (清—乾隆藏)
                * G (民國—佛教大藏經)
                * M (民國—卍正藏)
                * N (民國新譯—南傳大藏經)
              * 近代新編
                * ZS (民國新編—正史佛教資料類編)
                * I (民國新編—佛教石刻拓片百品)
                * ZW (民國新編—藏外佛教文獻)
                * B (民國新編、新譯—大藏經補編)
                * GA (民國新編—中國佛寺志-A)
                * GB (民國新編—中國佛寺志-B)
            
            典籍內目次搜尋結果排序同上。
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-response.yaml'
              examples:
                objectExample:
                  $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/toc-response-example.yaml'
  /works:
    get:
      summary: 典籍相關資訊
      description: >
        例：
          * 指定冊數起迄： /works?canon=T&vol_start=1&vol_end=2
          * 指定經號起迄： /works?canon=T&work_start=1&work_end=2
          * 指定 嘉興藏 經號起迄： /works?canon=J&work_start=A1&work_end=A2
          * 以作譯者 ID 搜尋： /works?creator_id=A000439
          * 搜尋唐朝成立的佛典： /works?dynasty=唐
          * 搜尋多個朝代： /works?dynasty=符秦,前秦
          * 搜尋成立年代在公元 600年至700年之間的佛典： /works?time_start=600&time_end=700
      parameters:
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/canon'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/vol_start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/vol_end'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/creator_id'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/creator'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/creator_name'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/dynasty'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/time_start'
        - $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-parameters.yaml#/time_end'
      responses:
        '200':
          description: Works Information
          content:
            application/json:
              schema: 
                $ref: 'https://raw.githubusercontent.com/DILA-edu/cbeta-api/main/openapi/works-response.yaml'