# CBETA API 的 OpenAPI spec。
#
# 回應 schema 由 test_remote/test_openapi_*.rb 對線上 API 驗證，例如：
#   rake remote:test[dev,openapi_all_in_one]
# schema 一律 additionalProperties: false，API 多出或少掉欄位 test 就會失敗，
# 用來避免文件與實作脫節（說明頁範例曾殘留已移除的 SQL 欄位）。
#
# /openapi.json (OpenapiController) 提供給文件頁 /docs 時，info.version 以 VERSION 檔
# 注入、servers 換成目前的站台，因此這兩項不在這裡手動維護。
openapi: 3.1.0
info:
  title: CBETA API
  version: dev
  description: |
    CBETA 電子佛典的 API。

    概念性的說明（檢索語法、限制搜尋範圍等）見各說明頁，例如
    [All in One](https://cbdata.dila.edu.tw/dev/static_pages/search_all_in_one)、
    [Extended 語法](https://cbdata.dila.edu.tw/dev/static_pages/search_extended)、
    [限制搜尋範圍](https://cbdata.dila.edu.tw/dev/static_pages/search_filter)。
# 本 spec 描述的是 dev branch 的行為，stable 跑的是 main（回應形狀不同）。
# 直接拿這個檔用 (例如 npx @scalar/cli) 時才看得到這裡的 servers。
servers:
  - url: https://cbdata.dila.edu.tw/dev
    description: 開發版
tags:
  - name: search
    description: 全文檢索與相關查詢
  - name: text
    description: 取得佛典內文 (卷、行、KWIC)
  - name: catalog
    description: 目錄、典籍資訊、目次、修訂紀錄
  - name: tools
    description: 繁簡轉換、斷詞、引用格式等工具
  - name: asia-network
    description: 提供 Asia Network 使用的 API
paths:
  /search/all_in_one:
    get:
      operationId: searchAllInOne
      summary: 全文檢索，一併回傳 KWIC
      description: |
        分頁以卷為單位，每一卷附上該卷的 KWIC。可選擇是否連同 facet 一起回傳。

        注意：
        - 參數錯誤（例如 `q` 超過長度上限）時 HTTP status 仍是 200，
          錯誤訊息放在 `error` 欄位（既有 client 依賴這個行為）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: |
            要搜尋的關鍵字，標點符號會被去除。長度上限 40 字。
            支援 AND、OR、NOT、NEAR、Exclude 語法，見說明頁。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          examples:
            phrase:
              value: 法鼓
            and:
              value: '"法鼓" "迦葉"'
            near:
              value: '"法鼓" NEAR/7 "迦葉"'
            exclude:
              value: '"直心" -"正直心"'
        - name: note
          in: query
          description: 是否含夾注。0：不含夾注；1：含夾注。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - name: fields
          in: query
          description: |
            指定 `results` 各筆要回傳哪些欄位，以逗號分隔，例如 `work,juan,term_hits`。
            未列在允許值裡的欄位名稱會被忽略。要連同 KWIC 一起回傳，須列入 `kwics`。
          schema:
            type: string
          example: work,juan,term_hits
        - name: facet
          in: query
          description: 是否回傳 facet。0：不回傳；1：回傳藏經、部類、作譯者、朝代、佛典五種 facet。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: start
          in: query
          description: 分頁回傳起始位置。
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: rows
          in: query
          description: 每頁回傳筆數（卷數）。
          schema:
            type: integer
            minimum: 0
            default: 20
        - name: around
          in: query
          description: KWIC 前後字數。
          schema:
            type: integer
            minimum: 0
            default: 10
        - name: order
          in: query
          description: |
            排序欄位：`canon`（依藏經重要性）、`work`、`time_from`、`time_to`。
            欄位後加 `+` 為升冪、`-` 為降冪，例如 `time_from-`。
            預設依「藏經重要性 + 經號 + 卷號」排序。
          schema:
            type: string
          example: time_from+
        - name: cache
          in: query
          description: 是否使用 cache。1：使用；0：不使用。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 檢索結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AllInOneResult'
                  - $ref: '#/components/schemas/LegacyError'
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search:
    get:
      operationId: search
      summary: 一般全文檢索
      description: |
        以卷為單位回傳符合的佛典。未指定 `order` 時依關鍵詞出現次數遞減排序。
        查詢語法（AND、OR、NOT、NEAR、Exclude）與 `/search/extended` 相同。

        注意：
        - 參數錯誤（例如 `q` 超過長度上限）時 HTTP status 仍是 200，
          錯誤訊息放在 `error` 欄位（既有 client 依賴這個行為）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - $ref: '#/components/parameters/searchQ'
        - $ref: '#/components/parameters/searchNote'
        - name: fields
          in: query
          description: |
            指定 `results` 各筆要回傳哪些欄位，以逗號分隔，例如 `work,juan,term_hits`。
            未列在允許值裡的欄位名稱會被忽略。
          schema:
            type: string
          example: work,juan,term_hits
        - $ref: '#/components/parameters/searchStart'
        - $ref: '#/components/parameters/searchRows'
        - name: order
          in: query
          description: |
            排序欄位，可指定多個（以逗號分隔），例如 `time_from,time_to,work`。
            欄位後加 `+` 為升冪、`-` 為降冪。可用欄位：`canon`、`category`、`juan`、
            `vol`、`work`、`time_from`、`time_to`、`term_hits`。
            指定 `time_from` 或 `time_to` 時，年代未知 (0) 的排在有年代的後面。
            排序值相同時一律再以藏經、佛典編號、卷號決定先後。
          schema:
            type: string
          example: time_from-
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 檢索結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SearchResult'
                  - $ref: '#/components/schemas/LegacyError'
            text/plain:
              schema:
                type: string
              example: q 參數不能是空的
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/extended:
    get:
      operationId: searchExtended
      summary: 全文檢索（Extended 語法）
      description: |
        行為與 `/search` 相同，查詢語法統一解析；兩者只差在說明文件。
        語法說明見 [Extended 語法](https://cbdata.dila.edu.tw/dev/static_pages/search_extended)。
      tags: [search]
      parameters:
        - $ref: '#/components/parameters/searchQ'
        - $ref: '#/components/parameters/searchNote'
        - name: fields
          in: query
          description: |
            指定 `results` 各筆要回傳哪些欄位，以逗號分隔，例如 `work,juan,term_hits`。
            未列在允許值裡的欄位名稱會被忽略。
          schema:
            type: string
          example: work,juan,term_hits
        - $ref: '#/components/parameters/searchStart'
        - $ref: '#/components/parameters/searchRows'
        - name: order
          in: query
          description: |
            排序欄位，可指定多個（以逗號分隔），例如 `time_from,time_to,work`。
            欄位後加 `+` 為升冪、`-` 為降冪。可用欄位：`canon`、`category`、`juan`、
            `vol`、`work`、`time_from`、`time_to`、`term_hits`。
            指定 `time_from` 或 `time_to` 時，年代未知 (0) 的排在有年代的後面。
            排序值相同時一律再以藏經、佛典編號、卷號決定先後。
          schema:
            type: string
          example: time_from-
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 檢索結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SearchResult'
                  - $ref: '#/components/schemas/LegacyError'
            text/plain:
              schema:
                type: string
              example: q 參數不能是空的
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/facet:
    get:
      operationId: searchFacetAll
      summary: 檢索結果一次回傳五種 facet
      description: |
        與 `/search/facet/{facet_by}` 相同，但一次回傳藏經、部類、作譯者、朝代、佛典五種 facet。

        注意：
        - 不支援 NEAR 與 Exclude 語法，會回傳 `LegacyError`。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - $ref: '#/components/parameters/searchQ'
        - $ref: '#/components/parameters/searchNote'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 五種 facet；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Facets'
                  - $ref: '#/components/schemas/LegacyError'
            text/plain:
              schema:
                type: string
              example: q 參數不能是空的

  /search/facet/{facet_by}:
    get:
      operationId: searchFacet
      summary: 全文檢索結果的 facet
      description: |
        回傳檢索結果依藏經、部類、作譯者、朝代或佛典分組的卷數與出現次數，
        回應是一個陣列。

        注意：
        - 不支援 NEAR 與 Exclude 語法，會回傳 `LegacyError`。
        - 不支援的 `facet_by` 也回傳 `LegacyError`（HTTP 200）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: facet_by
          in: path
          required: true
          description: 分組依據。
          schema:
            type: string
            enum: [canon, category, creator, dynasty, work]
        - $ref: '#/components/parameters/searchQ'
        - $ref: '#/components/parameters/searchNote'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: |
            facet 陣列，元素格式依 `facet_by` 而定；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                anyOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/CanonFacet'
                  - type: array
                    items:
                      $ref: '#/components/schemas/CategoryFacet'
                  - type: array
                    items:
                      $ref: '#/components/schemas/CreatorFacet'
                  - type: array
                    items:
                      $ref: '#/components/schemas/DynastyFacet'
                  - type: array
                    items:
                      $ref: '#/components/schemas/WorkFacet'
                  - $ref: '#/components/schemas/LegacyError'
            text/plain:
              schema:
                type: string
              example: q 參數不能是空的
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/notes:
    get:
      operationId: searchNotes
      summary: 搜尋校勘條目、註解
      description: |
        搜尋校註（腳注）與夾注。預設依藏經、冊號、行號排序。
        查詢語法見 [註解檢索](https://cbdata.dila.edu.tw/dev/static_pages/search_notes)。

        注意：
        - 參數錯誤時 HTTP status 仍是 200，錯誤訊息放在 `error` 欄位。
        - `facet=1` 不支援 NEAR 與 Exclude 語法，會回傳 `LegacyError`。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - $ref: '#/components/parameters/searchQ'
        - name: around
          in: query
          description: 夾注的 `highlight` 欄位，關鍵字前後保留的字數。
          schema:
            type: integer
            minimum: 0
            default: 10
        - $ref: '#/components/parameters/searchStart'
        - $ref: '#/components/parameters/searchRows'
        - name: facet
          in: query
          description: 是否回傳 facet。0：不回傳；1：回傳藏經、部類、作譯者、朝代、佛典五種 facet。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 檢索結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/NotesSearchResult'
                  - $ref: '#/components/schemas/LegacyError'
            text/plain:
              schema:
                type: string
              example: q 參數不能是空的
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/title:
    get:
      operationId: searchTitle
      summary: 搜尋佛典標題（經名）
      description: |
        模糊搜尋：至少符合 3 個字（查詢字串不足 3 個字時須全部符合），結果依相關度排序。

        注意：
        - 參數錯誤時 HTTP status 仍是 200，錯誤訊息放在 `error` 欄位。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的經名。長度上限 40 字。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          example: 觀無量壽經
        - $ref: '#/components/parameters/searchStart'
        - $ref: '#/components/parameters/searchRows'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 檢索結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TitleSearchResult'
                  - $ref: '#/components/schemas/LegacyError'
            text/plain:
              schema:
                type: string
              example: q 參數不能是空的
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/sc:
    get:
      operationId: searchSimplifiedChinese
      summary: 以簡體字查詢，回傳轉為繁體後的筆數
      description: |
        使用 OpenCC 將簡體轉為繁體，再做全文檢索，回傳關鍵字出現次數。
        轉換前後相同（例如 `q=上烏`）時不做檢索，`hits` 為 0，且不回傳 `time`。

        注意：
        - 參數錯誤（例如 `q` 超過長度上限）時 HTTP status 仍是 200，
          錯誤訊息放在 `error` 欄位（既有 client 依賴這個行為）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: 簡體字的查詢字串。長度上限 40 字。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          example: 四圣谛
        - name: note
          in: query
          description: 是否含夾注。0：不含夾注；1：含夾注。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 轉換結果與筆數；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ScResult'
                  - $ref: '#/components/schemas/LegacyError'
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/similar:
    get:
      operationId: searchSimilar
      summary: 相似搜尋
      description: |
        找出與 `q` 相似（但不完全相同）的段落。分兩階段：
        先以 Elasticsearch 模糊搜尋（至少一半的字命中即為候選）取 top k，
        再以 Smith-Waterman 演算法逐筆比對，分數達 `score_min` 才回傳，依分數排序。
        完全包含 `q` 的段落不回傳。不分頁，回傳全部結果。

        以預設的 `gain`（2）與 `score_min`（16）而言，至少要有 8 個字對得上才會有結果，
        因此 `q` 太短時一律找不到。

        注意：
        - 參數錯誤（例如 `k` 小於 1）時 HTTP status 仍是 200，
          錯誤訊息放在 `error` 欄位（既有 client 依賴這個行為）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: 要搜尋的字串，標點符號會被去除。長度上限 40 字。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          example: 是日已過，命亦隨減，如少水魚，斯有何樂
        - name: k
          in: query
          description: 第一階段取回的候選筆數。
          schema:
            type: integer
            minimum: 1
            default: 1000
        - name: gain
          in: query
          description: Smith-Waterman 演算法 match 時的加分。
          schema:
            type: integer
            minimum: 0
            default: 2
        - name: penalty
          in: query
          description: Smith-Waterman 演算法 miss、insertion、deletion 的減分。
          schema:
            type: integer
            maximum: 0
            default: -1
        - name: score_min
          in: query
          description: Smith-Waterman 分數的最小值，低於此分數的不回傳。
          schema:
            type: integer
            default: 16
        - name: facet
          in: query
          description: 是否回傳 facet。0：不回傳；1：回傳藏經、部類、作譯者、朝代、佛典五種 facet。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: cache
          in: query
          description: 是否使用 cache。1：使用；0：不使用。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 相似段落；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SimilarResult'
                  - $ref: '#/components/schemas/LegacyError'
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/synonym:
    get:
      operationId: searchSynonym
      summary: 近義詞查詢
      description: |
        根據近義詞表，回傳 `q` 的近義詞。查無此詞時 `results` 為空陣列。

        注意：
        - 參數錯誤（例如 `q` 超過長度上限）時 HTTP status 仍是 200，
          錯誤訊息放在 `error` 欄位（既有 client 依賴這個行為）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: 要查詢的詞。長度上限 40 字。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          example: 文殊師利
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 近義詞清單；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SynonymResult'
                  - $ref: '#/components/schemas/LegacyError'

  /search/variants:
    get:
      operationId: searchVariants
      summary: 異體字查詢
      description: |
        根據異體字表列出 `q` 可能的異體字變化，並回傳各變化在 CBETA 中的出現次數。
        只列出確實出現過的變化，不含 `q` 本身。

        注意：
        - 參數錯誤（例如 `q` 超過長度上限）時 HTTP status 仍是 200，
          錯誤訊息放在 `error` 欄位（既有 client 依賴這個行為）。
        - 缺少 `q` 或 `q` 為空字串時回傳純文字訊息，不是 JSON。
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: 要查詢的字詞，標點符號會被去除。長度上限 40 字。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          example: 著衣持鉢
        - name: scope
          in: query
          description: |
            設為 `title` 時，只列出存在於佛典題名中的異體字變化，
            `hits` 為題名中的出現次數。未指定時以全文計算。
          schema:
            type: string
            enum: [title]
        - name: cache
          in: query
          description: 是否使用 cache。1：使用；0：不使用。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - $ref: '#/components/parameters/canon'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/work'
        - $ref: '#/components/parameters/works'
        - $ref: '#/components/parameters/creator'
        - $ref: '#/components/parameters/dynasty'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/work_type'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 異體字變化與出現次數；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VariantsResult'
                  - $ref: '#/components/schemas/LegacyError'
        '502':
          description: 全文檢索後端（Elasticsearch）暫時無法使用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /search/kwic:
    get:
      operationId: searchKwic
      summary: 單卷 KWIC (Keyword in Context)
      description: |
        在指定的一卷裡搜尋關鍵字，回傳前後文。夾注不列入搜尋範圍（可跨夾注檢索），
        但前後文會含夾注，15 字以上的夾注會節略。

        回傳該卷全部的符合結果，依出現位置排序。

        參數錯誤時 HTTP status 仍是 200，錯誤訊息放在 `error` 欄位；
        只有 `q` 為空字串時回 400。
      tags: [search]
      parameters:
        - name: work
          in: query
          required: true
          description: 佛典編號。
          schema:
            type: string
          example: X0600
        - name: juan
          in: query
          required: true
          description: 卷號。
          schema:
            type: integer
            minimum: 1
          example: 11
        - name: q
          in: query
          required: true
          description: |
            要搜尋的關鍵字，多個關鍵字以半形逗點區隔，例如 `法鼓,聖嚴`。長度上限 40 字。
            也可使用 NEAR 語法，例如 `"老子" NEAR/7 "道"`。
            關鍵字含雙引號、單引號、半形減號時需以反斜線 escape。
          schema:
            type: string
            minLength: 1
            maxLength: 40
          examples:
            phrase:
              value: 法鼓
            multiple:
              value: 法鼓,聖嚴
            near:
              value: '"老子" NEAR/7 "道"'
        - name: note
          in: query
          description: 是否含夾注。0：不含夾注；1：含夾注。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - name: mark
          in: query
          description: 前後文中的關鍵字是否以 `<mark>` 標記。0：不標記；1：標記。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: around
          in: query
          description: 前後文的字數。
          schema:
            type: integer
            minimum: 0
            default: 5
        - name: kwic_w_punc
          in: query
          description: 是否回傳含標點的前後文 (`kwic` 欄位)。0：不回傳；1：回傳。
          schema:
            type: string
            enum: ['0', '1']
            default: '1'
        - name: kwic_wo_punc
          in: query
          description: 是否回傳不含標點的前後文 (`kwic_no_punc` 欄位)。0：不回傳；1：回傳。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: place
          in: query
          description: 是否附上這部佛典的地理資訊 (`place_*` 欄位)。0：不附；1：附上。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: negative_lookbehind
          in: query
          description: 排除前搭配。例如搜尋「直心」並指定 `正`，會排除「正直心」。
          schema:
            type: string
          example: 正
        - name: negative_lookahead
          in: query
          description: 排除後搭配。例如搜尋「舍利」並指定 `弗`，會排除「舍利弗」。
          schema:
            type: string
          example: 弗
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 搜尋結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/KwicJuanResult'
                  - $ref: '#/components/schemas/LegacyError'
        '400':
          description: '`q` 為空字串。'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /lines:
    get:
      operationId: getLines
      summary: 取得行文字
      description: |
        以行首資訊取得一行或一段範圍的文字。指定 `linehead`，或同時指定
        `linehead_start` 與 `linehead_end`；兩者都沒有時回傳空結果。

        若要取得全部佛典全文，建議改用下載的全文檔案。
      tags: [text]
      parameters:
        - name: linehead
          in: query
          description: 單獨指定某一行的行首資訊。
          schema:
            type: string
          example: T01n0001_p0001a04
        - name: before
          in: query
          description: 指定 `linehead` 時，一併取得前面幾行。
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: 指定 `linehead` 時，一併取得後面幾行。
          schema:
            type: integer
            minimum: 0
        - name: linehead_start
          in: query
          description: 範圍的起始行首資訊，須與 `linehead_end` 一起使用。
          schema:
            type: string
          example: T01n0001_p0001a04
        - name: linehead_end
          in: query
          description: 範圍的結束行首資訊，須與 `linehead_start` 一起使用。
          schema:
            type: string
          example: T01n0001_p0001a06
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 各行文字，依行首資訊排序。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinesResult'

  /juans:
    get:
      operationId: getJuan
      summary: 取得某卷 HTML
      description: |
        回傳一卷的 HTML，內有各種標記供前端 UI 使用，格式見
        [HTML for UI 格式說明](https://cbdata.dila.edu.tw/dev/static_pages/html_for_ui)。
        查無此卷時回傳 `num_found: 0` 與空的 `results`。
      tags: [text]
      parameters:
        - name: work
          in: query
          required: true
          description: 佛典編號。
          schema:
            type: string
          example: T0001
        - name: juan
          in: query
          required: true
          description: 卷號。
          schema:
            type: integer
            minimum: 1
          example: 1
        - name: toc
          in: query
          description: 是否一併回傳這部佛典的目次。0：不回傳；1：回傳。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: work_info
          in: query
          description: 是否一併回傳佛典資訊。0：不回傳；1：回傳。
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 該卷 HTML。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JuansResult'

  /juans/goto:
    get:
      operationId: gotoJuan
      summary: 依經卷、冊頁或引用格式定位
      description: |
        把「經號 + 卷 / 頁 / 欄 / 行」、「冊號 + 頁 / 欄 / 行」或行首資訊、
        CBETA 引用格式，換算成對應的卷與行首資訊。三種方式擇一：

        - 經卷結構：`canon` + `work`，可再加 `juan` 或 `page`、`col`、`line`
        - 書本結構：`canon` + `vol`，可再加 `page`、`col`、`line`
        - `linehead`：行首資訊、CBETA 引用格式，或常用的簡稱

        錯誤時 HTTP status 仍是 200，見 `LegacyCodedError`。
      tags: [text]
      parameters:
        - name: canon
          in: query
          description: 藏經 ID，與 `work` 或 `vol` 一起使用。
          schema:
            type: string
          example: T
        - name: work
          in: query
          description: 經號，不含藏經 ID，例如大正藏第一經為 `1`。
          schema:
            type: string
          example: '1'
        - name: vol
          in: query
          description: 冊號，不含藏經 ID，例如大正藏第一冊為 `1`。
          schema:
            type: string
          example: '1'
        - name: juan
          in: query
          description: 卷號，與 `work` 一起使用。
          schema:
            type: integer
            minimum: 1
        - name: page
          in: query
          description: 頁碼。
          schema:
            type: string
          example: '11'
        - name: col
          in: query
          description: 欄，例如 `a`、`b`、`c`。
          schema:
            type: string
          example: b
        - name: line
          in: query
          description: 行號。
          schema:
            type: string
          example: '10'
        - name: linehead
          in: query
          description: |
            行首資訊（例 `T01n0001_p0066c25`）或 CBETA 引用格式
            （例 `CBETA, T01, no. 1, p. 67, a13`、`CBETA 2019.Q3, T30, no. 1579, p. 279a7-23`）。
            引用格式需 URL encode。
          schema:
            type: string
          examples:
            linehead:
              value: T01n0001_p0066c25
            citation:
              value: CBETA, T01, no. 1, p. 67, a13
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 定位結果；錯誤時同樣是 200，見 `LegacyCodedError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JuansGotoResult'
                  - $ref: '#/components/schemas/LegacyCodedError'

  /works:
    get:
      operationId: getWorks
      summary: 取得佛典資訊，或依範圍、作譯者、時間搜尋佛典
      description: |
        依參數決定查詢方式，同時給多種參數時依下列順序只取第一個：
        `work` → `creator` → `creator_id` → `creator_name` → `vol_start` →
        `work_start` → `time_start` → `dynasty` → `uuid`。
        都沒有給時回傳空結果。

        參數錯誤時 HTTP status 仍是 200，回應為 `Error` 格式。

        指定 `uuid` 時回傳格式不同（見 `AsiaResource`），且不支援 `callback`。
      tags: [catalog]
      parameters:
        - name: work
          in: query
          description: 取得某部佛典的資訊，例如 `T1501`。
          schema:
            type: string
          example: T1501
        - name: creator
          in: query
          description: 以作譯者姓名搜尋（部分比對），不論是否已確認作譯者 ID。
          schema:
            type: string
          example: 竺法護
        - name: creator_id
          in: query
          description: 以作譯者 ID 搜尋。
          schema:
            type: string
          example: A000439
        - name: creator_name
          in: query
          description: 以作譯者姓名搜尋（部分比對），只搜尋尚未確認作譯者 ID 的佛典。
          schema:
            type: string
          example: 竺
        - name: canon
          in: query
          description: 藏經 ID。搭配 `vol_start` 或 `work_start` 使用。
          schema:
            type: string
          example: T
        - name: vol_start
          in: query
          description: 起始冊數（數字），須同時指定 `canon`。
          schema:
            type: integer
          example: 1
        - name: vol_end
          in: query
          description: 結束冊數（數字），預設同 `vol_start`。
          schema:
            type: integer
          example: 2
        - name: work_start
          in: query
          description: 起始經號，不含藏經 ID（例如 `1`、`150A`），須同時指定 `canon`。
          schema:
            type: string
          example: '1'
        - name: work_end
          in: query
          description: 結束經號，預設同 `work_start`。
          schema:
            type: string
          example: '2'
        - name: time_start
          in: query
          description: 成立年代範圍起（西元年），須同時指定 `time_end`。
          schema:
            type: integer
          example: 600
        - name: time_end
          in: query
          description: 成立年代範圍迄（西元年）。
          schema:
            type: integer
          example: 700
        - name: dynasty
          in: query
          description: 以朝代名稱搜尋，允許以逗號分隔多值。
          schema:
            type: string
          example: 符秦,前秦
        - name: uuid
          in: query
          description: 藏經的 UUID，列出該藏經的所有佛典。
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 查詢結果；參數錯誤時同樣是 200，見 `Error`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WorkList'
                  - type: array
                    description: 指定 `uuid` 時的回傳格式。
                    items:
                      $ref: '#/components/schemas/AsiaResource'
                  - $ref: '#/components/schemas/Error'
        '404':
          description: 指定 `uuid` 時，該 uuid 不存在。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /works/toc:
    get:
      operationId: getWorkToc
      summary: 取得某部佛典的目次
      description: 回傳該佛典的目次（`mulu`）與卷目次（`juan`）。
      tags: [catalog]
      parameters:
        - name: work
          in: query
          required: true
          description: 佛典編號。
          schema:
            type: string
          example: T0001
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 目次；查無此佛典時 `results` 為空陣列。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkTocList'

  /toc:
    get:
      operationId: searchToc
      summary: 經目搜尋
      description: |
        在部類目錄、佛典標題（經名）、佛典內目次三部份中搜尋，
        以 `type` 區分結果來源。`/search/toc` 與本 API 相同。

        `q` 的格式若是佛典編號（例如 `T0001`）或「冊號 + 經號」（例如 `T01n0001`），
        則改為依編號直接取得佛典。

        參數錯誤時 HTTP status 仍是 200，錯誤訊息放在 `error` 欄位。
      tags: [catalog]
      parameters:
        - $ref: '#/components/parameters/toc_q'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 搜尋結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TocSearchList'
                  - $ref: '#/components/schemas/LegacyError'

  /search/toc:
    get:
      operationId: searchTocAlias
      summary: 經目搜尋（同 /toc）
      description: 與 `/toc` 相同。
      tags: [catalog]
      parameters:
        - $ref: '#/components/parameters/toc_q'
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 搜尋結果；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TocSearchList'
                  - $ref: '#/components/schemas/LegacyError'

  /catalog_entry:
    get:
      operationId: getCatalogEntry
      summary: 取得目錄節點的下層節點
      description: |
        CBETA 的各種目錄（部類目錄、原書目錄等）以樹狀節點表示，
        以節點編號 `q` 取得其下一層節點。都不給參數時回傳根目錄。
      tags: [catalog]
      parameters:
        - name: q
          in: query
          description: |
            目錄節點編號。`root`：根目錄；`CBETA`：部類目錄；`orig`：原書目錄；
            `orig-<藏經 ID>`：某部藏經的原書目錄（例如 `orig-T`）；
            其他節點編號取自回傳結果的 `n`。
          schema:
            type: string
          examples:
            root:
              value: root
            category:
              value: CBETA
            orig:
              value: orig-T
            node:
              value: CBETA.001
        - name: vol
          in: query
          description: 冊號，取得該冊的目錄節點，例如 `T01`。優先於 `q`。
          schema:
            type: string
          example: T01
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 下層節點；查無節點時 `results` 為空陣列。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogEntryList'

  /changes:
    get:
      operationId: getChanges
      summary: 內容修訂紀錄
      description: |
        收錄自 2021Q1 起的內容修訂紀錄，標點修訂不記錄。`lb` 與 `work` 至少須指定一個。

        預設回傳 JSON；以 `format=html` 或路徑 `/changes.html` 改回傳 HTML
        （依版本分段，每行為「行首資訊║修訂內容」），HTML 不支援 `callback`。

        參數錯誤時 HTTP status 仍是 200，錯誤訊息放在 `error` 欄位。
      tags: [catalog]
      parameters:
        - name: lb
          in: query
          description: CBETA 行首資訊。
          schema:
            type: string
          example: A091n1057_p0321a10
        - name: work
          in: query
          description: 佛典編號。
          schema:
            type: string
          example: T0026
        - name: juan
          in: query
          description: 卷號，須同時指定 `work`。
          schema:
            type: integer
          example: 4
        - name: format
          in: query
          description: 回傳格式。
          schema:
            type: string
            enum: [json, html]
            default: json
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 修訂紀錄；參數錯誤時同樣是 200，見 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChangeList'
                  - $ref: '#/components/schemas/LegacyError'
            text/html:
              schema:
                type: string
              example: |
                <h2>2025R2</h2>
                T19n0951_p0253b17║<span class="del">密</span><span class="ins">蜜</span>、酪一呪一燒<br>

  /export/all_creators2:
    get:
      operationId: exportAllCreators
      summary: 匯出所有作譯者及其別名
      tags: [catalog]
      parameters:
        - $ref: '#/components/parameters/callback'
      responses:
        '200':
          description: 所有作譯者，以作譯者 ID 為 key。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorExport'

  /chinese_tools/sc2tc:
    get:
      operationId: chineseToolsSc2tc
      summary: 簡體轉繁體
      description: 以 OpenCC（s2tw）將簡體中文轉為繁體中文，回傳純文字。
      tags: [tools]
      parameters:
        - name: q
          in: query
          required: true
          description: 要轉換的簡體中文。未指定時回傳空字串。
          schema:
            type: string
          example: 简体转繁体
      responses:
        '200':
          description: 轉換後的繁體中文。
          content:
            text/plain:
              schema:
                type: string
              example: 簡體轉繁體

  /word_seg:
    get:
      operationId: wordSeg
      summary: 自動分詞（純文字）
      description: |
        回傳以 `/` 分隔的分詞結果，例如 `/觀自在菩薩/`。
        只有一個字時直接回傳原字。
        建議改用回傳 JSON 的 `/word_seg2`。
      tags: [tools]
      parameters:
        - name: t
          in: query
          required: true
          description: 要分詞的文字。
          schema:
            type: string
            minLength: 1
          example: 觀自在菩薩
      responses:
        '200':
          description: 以 `/` 分隔的分詞結果。
          content:
            text/plain:
              schema:
                type: string
              example: /觀自在菩薩/

  /word_seg2:
    get:
      operationId: wordSeg2
      summary: 自動分詞
      tags: [tools]
      parameters:
        - name: payload
          in: query
          required: true
          description: 要分詞的文字。
          schema:
            type: string
            minLength: 1
          example: 觀自在菩薩，行深般若波羅蜜多時。
      responses:
        '200':
          description: 分詞結果；缺少 `payload` 等錯誤時同樣是 200，見 `WordSegError`。
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WordSegResult'
                  - $ref: '#/components/schemas/WordSegError'

  /textref/meta.csv:
    get:
      operationId: textrefMeta
      summary: TextRef 登錄用的 metadata
      description: |
        提供 [TextRef](https://textref.org/) 登錄用的 metadata（CSV）。
        副檔名 `.csv` 可省略。
      tags: [tools]
      responses:
        '200':
          description: 兩欄（Field, Value）的 CSV。
          content:
            text/csv:
              schema:
                type: string
              example: |
                Field,Value
                MetaURL,https://cbdata.dila.edu.tw/stable/textref/meta.csv
                DataURL,https://cbdata.dila.edu.tw/stable/textref/data.csv
                ShortName,CBETA

  /textref/data.csv:
    get:
      operationId: textrefData
      summary: TextRef 登錄用的全部典籍書目
      description: |
        提供 [TextRef](https://textref.org/) 登錄用的全部典籍書目（CSV，以 attachment 下載）。
        副檔名 `.csv` 可省略。欄位：primary_id（佛典編號）、title、dynasty、author、
        edition（藏經名稱）、fulltext_read、fulltext_search、fulltext_download、image。
      tags: [tools]
      responses:
        '200':
          description: 每部典籍一列的 CSV。
          content:
            text/csv:
              schema:
                type: string
              example: |
                primary_id,title,dynasty,author,edition,fulltext_read,fulltext_search,fulltext_download,image
                A1057,新譯大方廣佛華嚴經音義,唐,慧菀,趙城金藏,y,y,y,n

  /api/collections:
    get:
      operationId: asiaCollections
      summary: 藏經清單
      description: 列出所有藏經，每部藏經為一個 collection。
      tags: [asia-network]
      responses:
        '200':
          description: 藏經清單。
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AsiaCollection'

  /api/collections/{uuid}/resources:
    get:
      operationId: asiaCollectionResources
      summary: 某部藏經的典籍清單
      tags: [asia-network]
      parameters:
        - $ref: '#/components/parameters/asiaUuid'
      responses:
        '200':
          description: 典籍清單，每部典籍為一個 resource。
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AsiaResource'
        '404':
          description: uuid 不存在。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/resources/{uuid}/sections:
    get:
      operationId: asiaResourceSections
      summary: 某部典籍的卷清單
      tags: [asia-network]
      parameters:
        - $ref: '#/components/parameters/asiaUuid'
      responses:
        '200':
          description: 卷清單，每一卷為一個 section。
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AsiaSection'
        '404':
          description: uuid 不存在。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/sections/{uuid}:
    get:
      operationId: asiaSection
      summary: 某一卷的資訊
      description: |
        回傳的 `uuid` 是該卷內容（content unit）的 uuid，與 `/api/sections/{uuid}/content_units`
        回傳的 `uuid` 相同；`uri` 指向該卷的純文字檔。
      tags: [asia-network]
      parameters:
        - $ref: '#/components/parameters/asiaUuid'
      responses:
        '200':
          description: 卷的資訊。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsiaSection'
        '404':
          description: uuid 不存在。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/sections/{uuid}/content_units:
    get:
      operationId: asiaSectionContentUnits
      summary: 某一卷的內文
      tags: [asia-network]
      parameters:
        - $ref: '#/components/parameters/asiaUuid'
      responses:
        '200':
          description: 只有一筆的陣列，內含整卷純文字；找不到文字檔時為 `LegacyError`。
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/AsiaContentUnit'
                  - $ref: '#/components/schemas/LegacyError'
        '404':
          description: uuid 不存在。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  parameters:
    callback:
      name: callback
      in: query
      description: |
        JSONP 的函式名稱。指定時回應改為 `application/javascript`，
        內容為 `/**/<callback>(<JSON>)`，其中的 JSON 與未指定時相同。
        各 API 有列出此參數才支援。
      schema:
        type: string
        pattern: '^[A-Za-z_$][0-9A-Za-z_$.]*$'
      example: cb
    canon:
      name: canon
      in: query
      description: 指定藏經 ID，允許以逗號分隔多值，例如 `T,X`。
      schema:
        type: string
      example: T
    category:
      name: category
      in: query
      description: |
        指定部類。`a,b+c,d` 表示 (a OR b) AND (c OR d)；URL 裡的 `+` 要 escape 為 `%2b`。
      schema:
        type: string
      example: 阿含部類
    work:
      name: work
      in: query
      description: 指定一部佛典。
      schema:
        type: string
      example: T0026
    works:
      name: works
      in: query
      description: 指定多部佛典，以逗號分隔。
      schema:
        type: string
      example: T0026,T0099
    creator:
      name: creator
      in: query
      description: |
        指定作譯者 ID，允許以逗號分隔多值。
        `a,b+c,d` 表示 (a OR b) AND (c OR d)；URL 裡的 `+` 要 escape 為 `%2b`。
      schema:
        type: string
      example: A000439
    dynasty:
      name: dynasty
      in: query
      description: 指定朝代，允許以逗號分隔多值。
      schema:
        type: string
      example: 隋,唐
    time:
      name: time
      in: query
      description: 指定某一年（`800`）或範圍（`800..900`）。
      schema:
        type: string
        pattern: '^-?\d+(\.\.-?\d+)?$'
      example: 800..900
    work_type:
      name: work_type
      in: query
      description: 指定文本類型：`textbody`（正文）或 `non-textbody`（非正文）。
      schema:
        type: string
        enum: [textbody, non-textbody]

    searchQ:
      name: q
      in: query
      required: true
      description: |
        要搜尋的關鍵字，標點符號會被去除。長度上限 40 字。
        支援 AND、OR、NOT、NEAR、Exclude 語法，見
        [Extended 語法](https://cbdata.dila.edu.tw/dev/static_pages/search_extended)。
        組字式要 escape，例如 `[幻-ㄠ%2B糸]`。
      schema:
        type: string
        minLength: 1
        maxLength: 40
      examples:
        phrase:
          value: 法鼓
        and:
          value: '"法鼓" "迦葉"'
        near:
          value: '"法鼓" NEAR/7 "迦葉"'
        exclude:
          value: '"直心" -"正直心"'
    searchNote:
      name: note
      in: query
      description: 是否含夾注。0：不含夾注；1：含夾注。
      schema:
        type: string
        enum: ['0', '1']
        default: '1'
    searchStart:
      name: start
      in: query
      description: 分頁回傳起始位置。
      schema:
        type: integer
        minimum: 0
        default: 0
    searchRows:
      name: rows
      in: query
      description: 每頁回傳筆數。
      schema:
        type: integer
        minimum: 0
        default: 20

    toc_q:
      name: q
      in: query
      required: true
      description: 要搜尋的關鍵詞。長度上限 40 字。
      schema:
        type: string
        minLength: 1
        maxLength: 40
      examples:
        keyword:
          value: 阿含
        work:
          value: T0001
        file:
          value: T01n0001

    asiaUuid:
      name: uuid
      in: path
      required: true
      description: 由上一層 API 回傳的 `uuid`。
      schema:
        type: string
        format: uuid

  schemas:
    AllInOneResult:
      type: object
      additionalProperties: false
      required: [query_string, time, num_found, results]
      properties:
        query_string:
          type: string
          description: 原始查詢字串。
        time:
          type: number
          description: 伺服器處理時間（秒）。
        num_found:
          type: integer
          description: 符合的卷數。
        total_term_hits:
          type: integer
          description: 關鍵字出現總次數。
        cache_key:
          type: [string, 'null']
          description: 使用 cache 時的 cache key；`cache=0` 時為 null。
        results:
          type: array
          items:
            $ref: '#/components/schemas/JuanHit'
        facet:
          $ref: '#/components/schemas/Facets'

    JuanHit:
      type: object
      description: |
        一卷的檢索結果。指定 `fields` 參數時只回傳其中部分欄位，
        因此這裡不列 required。
      additionalProperties: false
      properties:
        id:
          type: integer
        term_hits:
          type: integer
          description: 關鍵字在這一卷出現的次數。
        canon:
          type: string
          description: 藏經 ID。
          example: T
        category:
          type: string
          description: 部類名稱。
          example: 阿含部類
        file:
          type: string
          example: T01n0026
        work:
          type: string
          description: 佛典編號。
          example: T0026
        juan:
          type: integer
          description: 卷號。
        title:
          type: string
          description: 佛典題名。
        byline:
          type: string
          example: 東晉 瞿曇僧伽提婆譯
        creators:
          type: string
          example: 僧伽提婆
        creators_with_id:
          type: string
          example: 僧伽提婆(A001589)
        time_dynasty:
          type: string
          example: 東晉
        time_from:
          type: integer
          description: 成立年代起（西元年）。
        time_to:
          type: integer
          description: 成立年代迄（西元年）。
        juan_list:
          type: string
          description: 這部佛典所有卷號，以逗號分隔。
          example: 1,2
        kwics:
          $ref: '#/components/schemas/KwicList'

    KwicList:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
        time:
          type: number
          description: KWIC 處理時間（秒）。只有 NEAR 查詢會回傳。
        results:
          type: array
          items:
            $ref: '#/components/schemas/Kwic'

    Kwic:
      type: object
      additionalProperties: false
      required: [vol, lb, kwic, linehead]
      properties:
        vol:
          type: string
          description: 冊號。
          example: T01
        work:
          type: string
          description: 佛典編號。只有 NEAR 與 Exclude 查詢會回傳。
        juan:
          type: integer
          description: 卷號。只有 NEAR 與 Exclude 查詢會回傳。
        offset_in_text_with_punc:
          type: integer
          description: 在含標點的卷文字中的位置。
        lb:
          type: string
          description: 行號。
          example: 0724c01
        kwic:
          type: string
          description: 前後文，關鍵字以 `<mark>` 標示。
          example: 法界、甘露界、多鼓、<mark>法鼓</mark>、甘露鼓、法鏡、四品
        linehead:
          type: string
          description: 行首資訊。
          example: T01n0026_p0724c01

    Facets:
      type: object
      additionalProperties: false
      required: [canon, category, creator, dynasty, work]
      properties:
        canon:
          type: array
          items:
            $ref: '#/components/schemas/CanonFacet'
        category:
          type: array
          items:
            $ref: '#/components/schemas/CategoryFacet'
        creator:
          type: array
          items:
            $ref: '#/components/schemas/CreatorFacet'
        dynasty:
          type: array
          items:
            $ref: '#/components/schemas/DynastyFacet'
        work:
          type: array
          items:
            $ref: '#/components/schemas/WorkFacet'

    FacetCount:
      type: object
      required: [docs, hits]
      properties:
        docs:
          type: integer
          description: 符合的卷數。
        hits:
          type: integer
          description: 關鍵字出現次數。

    CanonFacet:
      allOf:
        - $ref: '#/components/schemas/FacetCount'
      type: object
      unevaluatedProperties: false
      required: [canon]
      properties:
        canon:
          type: string
        canon_name:
          type: string
          example: 大正藏

    CategoryFacet:
      allOf:
        - $ref: '#/components/schemas/FacetCount'
      type: object
      unevaluatedProperties: false
      required: [category_name]
      properties:
        category_id:
          type: integer
          description: 部類 ID。NEAR 與 Exclude 查詢不會回傳。
        category_name:
          type: string
          example: 禪宗部類

    CreatorFacet:
      allOf:
        - $ref: '#/components/schemas/FacetCount'
      type: object
      unevaluatedProperties: false
      required: [creator_id]
      properties:
        creator_id:
          type: string
          example: A023393
        creator_name:
          type: string
          description: 作譯者名稱；查無此 ID 時不回傳。
          example: 釋印順

    DynastyFacet:
      allOf:
        - $ref: '#/components/schemas/FacetCount'
      type: object
      unevaluatedProperties: false
      required: [dynasty]
      properties:
        dynasty:
          type: string
          example: 唐

    WorkFacet:
      allOf:
        - $ref: '#/components/schemas/FacetCount'
      type: object
      unevaluatedProperties: false
      required: [work]
      properties:
        work:
          type: string
          example: T0270
        title:
          type: string
          example: 大法鼓經

    LegacyError:
      type: object
      description: |
        舊式的錯誤回應：HTTP status 仍是 200，錯誤訊息放在 `error` 字串
        （既有 client 依賴這個行為）。多數 API 的參數錯誤都是這個格式。
        實際回應可能另含 `query_string` 等欄位，不屬於公開契約，
        因此這裡不限制額外欄位。
      required: [error]
      properties:
        error:
          type: string
          example: q 參數長度不得大於 40 字
        num_found:
          type: integer
          const: 0
        results:
          type: array
          maxItems: 0

    Error:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: integer
            message:
              type: string

    SearchResult:
      type: object
      additionalProperties: false
      required: [query_string, num_found, results]
      properties:
        query_string:
          type: string
          description: 正規化之後的查詢字串（標點會被去除）。
        time:
          type: number
          description: 伺服器處理時間（秒）。`q` 去除標點後為空時不回傳。
        num_found:
          type: integer
          description: 符合的卷數。
        total_term_hits:
          type: integer
          description: 關鍵字出現總次數。NEAR 查詢不回傳。
        cache_key:
          type: 'null'
          description: 固定為 null。`q` 去除標點後為空時不回傳。
        results:
          type: array
          description: |
            各卷的檢索結果，格式同 `JuanHit`，但不含 `kwics`。
            NEAR 查詢不含 `term_hits`。
          items:
            $ref: '#/components/schemas/JuanHit'

    NotesSearchResult:
      type: object
      additionalProperties: false
      required: [query_string, num_found, results]
      properties:
        query_string:
          type: string
          description: 正規化之後的查詢字串（標點會被去除）。
        time:
          type: number
          description: 伺服器處理時間（秒）。`q` 去除標點後為空時不回傳。
        num_found:
          type: integer
          description: 符合的條目數。
        total_term_hits:
          type: integer
          description: 關鍵字出現總次數。NEAR 查詢不回傳。
        cache_key:
          type: 'null'
          description: 固定為 null。`q` 去除標點後為空時不回傳。
        results:
          type: array
          items:
            $ref: '#/components/schemas/NoteHit'
        facet:
          $ref: '#/components/schemas/Facets'

    NoteHit:
      type: object
      additionalProperties: false
      required: [id, note_place, canon, category, vol, file, work, title, juan, lb, content, highlight]
      properties:
        id:
          type: integer
        term_hits:
          type: integer
          description: 關鍵字在這一條出現的次數。只有 Exclude 查詢會回傳。
        note_place:
          type: string
          enum: [foot, inline]
          description: '`foot`：校註（腳注）；`inline`：夾注。'
        canon:
          type: string
          example: T
        category:
          type: string
          example: 密教部類
        vol:
          type: string
          example: T18
        file:
          type: string
          example: T18n0894a
        work:
          type: string
          example: T0894a
        title:
          type: string
          description: 佛典題名。
        juan:
          type: integer
        lb:
          type: string
          description: 行號。
          example: 0692b03
        n:
          type: string
          description: 校註編號。夾注 (`inline`) 不回傳。
          example: n0692004
        content:
          type: string
          description: 條目內容（已去除標點）。
        highlight:
          type: string
          description: |
            含標點的條目內容，關鍵字以 `<mark>` 標示。
            夾注會附上前後文，前後各保留 `around` 字。

    TitleSearchResult:
      type: object
      additionalProperties: false
      required: [query_string, time, num_found, results]
      properties:
        query_string:
          type: string
        time:
          type: number
          description: 伺服器處理時間（秒）。
        num_found:
          type: integer
          description: 符合的佛典數。
        results:
          type: array
          items:
            $ref: '#/components/schemas/TitleHit'

    TitleHit:
      type: object
      additionalProperties: false
      required: [work, content, highlight]
      description: 一部佛典的經名檢索結果。佛典資料查不到時只回傳 work、content、highlight。
      properties:
        work:
          type: string
          example: T1749
        content:
          type: string
          description: 經名。
          example: 觀無量壽經義疏
        highlight:
          type: string
          description: 經名，符合的字以 `<mark>` 標示。
          example: <mark>觀無量壽經</mark>義疏
        byline:
          type: string
          example: 隋 慧遠撰
        juan:
          type: integer
          description: 卷數。
        creators_with_id:
          type: string
          example: 慧遠(A002000)
        time_dynasty:
          type: string
        time_from:
          type: integer
        time_to:
          type: integer

    ScResult:
      type: object
      additionalProperties: false
      required: [q, hits]
      properties:
        time:
          type: number
          description: 伺服器處理時間（秒）。轉換前後相同時不回傳。
        q:
          type: string
          description: 轉為繁體後的查詢字串。
          example: 四聖諦
        hits:
          type: integer
          description: 關鍵字出現總次數。轉換前後相同時為 0。

    SimilarResult:
      type: object
      additionalProperties: false
      required: [query_string, time, num_found, cache_key, results]
      properties:
        query_string:
          type: string
          description: 去除標點後的查詢字串。
        time:
          type: number
          description: 伺服器處理時間（秒）。
        num_found:
          type: integer
          description: 回傳的段落數。
        cache_key:
          type: string
          description: cache key。
        results:
          type: array
          items:
            $ref: '#/components/schemas/SimilarHit'
        facet:
          $ref: '#/components/schemas/SimilarFacets'

    SimilarHit:
      type: object
      additionalProperties: false
      required: [id, canon, category, work, title, juan, creators_with_id, dynasty,
                 linehead, content, score, highlight]
      properties:
        id:
          type: integer
        canon:
          type: string
          description: 藏經 ID。
          example: X
        category:
          type: string
          description: 部類名稱，可能以逗號分隔多值。
          example: 禪宗部類
        work:
          type: string
          description: 佛典編號。
          example: X1318
        title:
          type: string
          description: 佛典題名。
        juan:
          type: integer
          description: 卷號。
        creators_with_id:
          type: string
          description: 作譯者及其 ID，多位以分號分隔；無作譯者時為空字串。
          example: 師明(A000913)
        dynasty:
          type: string
          description: 朝代；不詳時為 `unknown`。
          example: 宋
        linehead:
          type: string
          description: 段落起始的行首資訊。
          example: X68n1318_p0394c06
        content:
          type: string
          description: 段落文字（不含標點）。
        score:
          type: integer
          description: Smith-Waterman 分數。
        highlight:
          type: string
          description: |
            段落文字加上標記：最長符合的字串以 `<mark>` 標記，
            其中與 `q` 不同的字以 `<del>` 標記；`<mark>` 以外、包含在 `q` 內的字以 `<em>` 標記。

    SimilarFacets:
      type: object
      description: 以回傳的段落計算；`hits` 為段落數。
      additionalProperties: false
      required: [canon, category, creator, dynasty, work]
      properties:
        canon:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [canon, hits]
            properties:
              canon:
                type: string
              canon_name:
                type: string
                example: 新纂卍續藏
              hits:
                type: integer
        category:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [category_name, hits]
            properties:
              category_name:
                type: string
                example: 禪宗部類
              hits:
                type: integer
        creator:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [creator_id, hits]
            properties:
              creator_id:
                type: string
                example: A000913
              creator_name:
                type: string
                example: 師明
              hits:
                type: integer
        dynasty:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [dynasty, hits]
            properties:
              dynasty:
                type: string
                example: 宋
              hits:
                type: integer
        work:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [work, hits]
            properties:
              work:
                type: string
                example: X1318
              title:
                type: string
                example: 續古尊宿語要
              hits:
                type: integer

    SynonymResult:
      type: object
      additionalProperties: false
      required: [time, num_found, results]
      properties:
        time:
          type: number
          description: 伺服器處理時間（秒）。
        num_found:
          type: integer
          description: 近義詞數量。
        results:
          type: array
          description: 近義詞。
          items:
            type: string
          example: [曼殊室利, 妙吉祥, 文殊]

    VariantsResult:
      type: object
      additionalProperties: false
      required: [time, num_found, cache_key, possibility, results]
      properties:
        time:
          type: number
          description: 伺服器處理時間（秒）。
        num_found:
          type: integer
          description: 回傳的異體字變化數量。
        cache_key:
          type: [string, 'null']
          description: 使用 cache 時的 cache key；`cache=0` 時為 null。
        possibility:
          type: integer
          description: 存在於 CBETA 的變化總數（含 `q` 本身）。
        results:
          type: array
          items:
            $ref: '#/components/schemas/VariantsHit'

    VariantsHit:
      type: object
      additionalProperties: false
      required: [q, hits]
      properties:
        q:
          type: string
          description: 異體字變化後的字串。
          example: 著衣持缽
        hits:
          type: integer
          description: 出現次數。

    KwicJuanResult:
      type: object
      additionalProperties: false
      required: [num_found, time, results]
      properties:
        num_found:
          type: integer
        time:
          type: number
          description: 伺服器處理時間（秒）。
        results:
          type: array
          items:
            $ref: '#/components/schemas/KwicJuanHit'

    KwicJuanHit:
      type: object
      additionalProperties: false
      required: [vol, lb]
      properties:
        vol:
          type: string
          description: 冊號。一卷可能跨冊。
          example: X30
        lb:
          type: string
          description: 行號。
          example: 0236a11
        kwic:
          type: string
          description: 含標點的前後文；`kwic_w_punc=0` 時不回傳。
          example: 吹法螺擊大法鼓，度脫一切
        kwic_no_punc:
          type: string
          description: 不含標點的前後文；`kwic_wo_punc=1` 時才回傳。
        place_name:
          type: string
          description: 地名；`place=1` 且這部佛典有地理資訊時才回傳，其他 `place_*` 欄位亦同。
          example: 長安
        place_id:
          type: string
          example: PL000000042393
        place_long:
          type: number
          description: 經度。
        place_lat:
          type: number
          description: 緯度。

    LinesResult:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
        time:
          type: number
          description: 伺服器處理時間（秒）。
        results:
          type: array
          items:
            $ref: '#/components/schemas/LinesLine'

    LinesLine:
      type: object
      additionalProperties: false
      required: [linehead, html]
      properties:
        linehead:
          type: string
          description: 行首資訊。
          example: T01n0001_p0001a04
        html:
          type: string
          description: 該行文字。有註解的話會有 `<a class="noteAnchor">` 標記。
        notes:
          type: object
          description: 該行的註解，key 為註號；沒有註解時不回傳。
          additionalProperties:
            type: string
          example:
            '0001002': 長安【大】，〔－〕【宋】

    JuansResult:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
          description: 找到該卷時為 1，否則為 0。
        uuid:
          type: string
          format: uuid
          description: 卷的 UUID；查無此卷時不回傳。
        content:
          type: string
          format: uuid
          description: 卷內容的 UUID；查無此卷時不回傳。
        results:
          type: array
          maxItems: 1
          items:
            type: string
            description: 該卷的 HTML。
        toc:
          description: 目次；`toc=1` 時才回傳，這部佛典沒有目次時為 null。
          oneOf:
            - $ref: '#/components/schemas/JuansToc'
            - type: 'null'
        work_info:
          description: 佛典資訊；`work_info=1` 時才回傳。
          oneOf:
            - $ref: '#/components/schemas/JuansWorkInfo'
            - type: 'null'

    JuansToc:
      type: object
      additionalProperties: false
      required: [mulu, juan]
      properties:
        mulu:
          type: array
          description: 章節目次。
          items:
            $ref: '#/components/schemas/JuansTocNode'
        juan:
          type: array
          description: 卷目次。
          items:
            $ref: '#/components/schemas/JuansTocJuan'

    JuansTocNode:
      type: object
      additionalProperties: false
      required: [title, file, juan, lb]
      properties:
        title:
          type: string
          example: 序
        file:
          type: string
          example: T01n0001
        juan:
          type: integer
        lb:
          type: string
          example: 0001a02
        type:
          type: string
          example: 序
        n:
          type: integer
          description: 節點編號；有子節點時才回傳。
        isFolder:
          type: boolean
          description: 有子節點時才回傳。
        children:
          type: array
          description: 子節點。
          items:
            $ref: '#/components/schemas/JuansTocNode'

    JuansTocJuan:
      type: object
      additionalProperties: false
      required: [file, juan, lb, title]
      properties:
        file:
          type: string
          example: T01n0001
        juan:
          type: integer
        lb:
          type: string
          example: 0001b08
        title:
          type: string
          example: 第一

    JuansWorkInfo:
      description: 卷所屬佛典的資訊，欄位見 `WorkInfoFields`。
      allOf:
        - $ref: '#/components/schemas/WorkInfoFields'
      type: object
      unevaluatedProperties: false
      required: [work, uuid, canon, category, orig_category, vol, title, juan, juan_list]

    JuansGotoResult:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
        results:
          type: array
          maxItems: 1
          items:
            $ref: '#/components/schemas/JuansGotoTarget'

    JuansGotoTarget:
      type: object
      additionalProperties: false
      required: [vol, work, file, juan, lb, linehead]
      properties:
        vol:
          type: string
          example: T01
        work:
          type: string
          example: T0001
        file:
          type: string
          example: T01n0001
        juan:
          type: integer
        lb:
          type: string
          example: 0011b10
        linehead:
          type: string
          example: T01n0001_p0011b10
        title:
          type: string
          example: 長阿含經

    LegacyCodedError:
      type: object
      description: |
        舊式的錯誤回應：HTTP status 仍是 200，錯誤放在 `error` 物件，`code` 為對應的
        HTTP status。實際回應可能另含其他欄位，不屬於公開契約，
        因此這裡不限制額外欄位。
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
              example: 404
            message:
              type: string

    WorkInfoFields:
      type: object
      description: |
        佛典資訊的各欄位（供其他 schema 組合使用）。
        CBETA 未收錄全文的佛典（有 `alt`）沒有 `file`、`juan_start`，
        `juan_list`、`cjk_chars`、`en_words` 為 null。
      properties:
        work:
          type: string
          description: 佛典編號（經號）。
          example: T1501
        uuid:
          type: string
          format: uuid
        canon:
          type: string
          description: 藏經 ID。
          example: T
        category:
          type: string
          description: 所屬部類（CBETA 分類），未分類時為空字串。
          example: 律部類
        orig_category:
          type: string
          description: 底本分部，例如大正藏的阿含部、本緣部；沒有時為空字串。
          example: 律部
        vol:
          type: string
          description: 冊號；跨冊的佛典以 `..` 表示範圍，例如 `T05..T07`。
          example: T24
        title:
          type: string
          description: 佛典題名（經名）。
          example: 菩薩戒本
        juan:
          type: integer
          description: 卷數。
        juan_list:
          type: [string, 'null']
          description: 所有卷號，以逗號分隔。
          example: '1'
        cjk_chars:
          type: [integer, 'null']
          description: 中日韓文字數（不含標點）。
        en_words:
          type: [integer, 'null']
          description: 英文、半形數字、梵文、巴利文的 word 數。
        alt:
          type: string
          description: CBETA 未收錄此經全文時，對應到的其他藏經佛典編號。
          example: T0293
        file:
          type: string
          description: 第一個 XML 檔的主檔名。
          example: T24n1501
        juan_start:
          type: integer
          description: 於 `file` 中的起始卷號。
        byline:
          type: string
          description: 作譯者行。
          example: 彌勒菩薩說 唐 玄奘譯
        creators:
          type: string
          description: 作者、譯者或其他貢獻者姓名，以逗號分隔。
          example: 彌勒菩薩,玄奘
        creators_with_id:
          type: string
          description: 附作譯者 ID 的姓名，以分號分隔。
          example: 彌勒菩薩(A001428);玄奘(A000294)
        time_dynasty:
          type: string
          description: 成立的朝代。
          example: 唐
        time_from:
          type: integer
          description: 成立年代起（西元年）。
        time_to:
          type: integer
          description: 成立年代迄（西元年）。
        places:
          type: array
          description: 成立地點，多值。
          items:
            $ref: '#/components/schemas/WorkPlace'

    WorkInfo:
      allOf:
        - $ref: '#/components/schemas/WorkInfoFields'
      type: object
      unevaluatedProperties: false
      required: [work, uuid, canon, category, orig_category, vol, title, juan,
                 juan_list, cjk_chars, en_words]

    WorkPlace:
      type: object
      additionalProperties: false
      required: [name, id]
      properties:
        name:
          type: string
          example: 大慈恩寺
        id:
          type: string
          description: 地名權威 ID。
          example: PL000000042410
        latitude:
          type: number
        longitude:
          type: number

    WorkList:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/WorkInfo'

    WorkTocList:
      type: object
      additionalProperties: false
      required: [num_found, time, results]
      properties:
        num_found:
          type: integer
        time:
          type: number
          description: 伺服器處理時間（秒）。
        results:
          type: array
          maxItems: 1
          items:
            $ref: '#/components/schemas/WorkToc'

    WorkToc:
      type: object
      additionalProperties: false
      required: [mulu, juan]
      properties:
        mulu:
          type: array
          description: 佛典內目次。
          items:
            $ref: '#/components/schemas/WorkTocNode'
        juan:
          type: array
          description: 卷目次。
          items:
            $ref: '#/components/schemas/WorkTocJuan'

    WorkTocNode:
      type: object
      additionalProperties: false
      required: [title, file, juan, lb]
      properties:
        title:
          type: string
          description: 目次節點標題。
          example: 1 分
        file:
          type: string
          description: 所在 XML 檔的主檔名。
          example: T01n0001
        juan:
          type: integer
          description: 所在卷號。
        lb:
          type: string
          description: 所在頁、欄、行。
          example: 0001b11
        type:
          type: string
          description: 節點類型，例如「1 分」的 type 為「分」。
          example: 分
        n:
          type: integer
          description: 節點序號，例如「1 分」的 n 為 1。
        isFolder:
          type: boolean
          description: 為 true 時表示有 `children`。
        children:
          type: array
          description: 下層目次節點。
          items:
            $ref: '#/components/schemas/WorkTocNode'

    WorkTocJuan:
      type: object
      additionalProperties: false
      required: [title, file, juan, lb]
      properties:
        title:
          type: string
          example: 第一
        file:
          type: string
          example: T01n0001
        juan:
          type: integer
        lb:
          type: string
          example: 0001b08

    TocSearchList:
      type: object
      additionalProperties: false
      required: [num_found, time, results]
      properties:
        num_found:
          type: integer
        time:
          type: number
          description: 伺服器處理時間（秒）。
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/TocSearchCatalogHit'
              - $ref: '#/components/schemas/TocSearchWorkHit'
              - $ref: '#/components/schemas/TocSearchTocHit'

    TocSearchCatalogHit:
      description: 在部類目錄中找到的節點。節點若對應到某部佛典，另附該佛典的資訊。
      allOf:
        - $ref: '#/components/schemas/WorkInfoFields'
      type: object
      unevaluatedProperties: false
      required: [type, n, label]
      properties:
        type:
          const: catalog
        n:
          type: string
          description: 目錄節點編號，可用於 `/catalog_entry?q=`。
          example: CBETA.001
        label:
          type: string
          example: 01 阿含部類 T01-02,25,33 etc.

    TocSearchWorkHit:
      description: 在佛典標題（經名）中找到的佛典。
      allOf:
        - $ref: '#/components/schemas/WorkInfoFields'
      type: object
      unevaluatedProperties: false
      required: [type, work, uuid, canon, category, orig_category, vol, title, juan,
                 juan_list, cjk_chars, en_words]
      properties:
        type:
          const: work

    TocSearchTocHit:
      description: |
        在佛典內目次標題中找到的節點，另附該佛典的資訊；
        其中 `file`、`juan_start` 為該目次節點所在的檔案與卷號。
      allOf:
        - $ref: '#/components/schemas/WorkInfoFields'
      type: object
      unevaluatedProperties: false
      required: [type, label, label_path, work, lb, linehead]
      properties:
        type:
          const: toc
        label:
          type: string
          description: 目次節點標題。
          example: 1 大本經
        label_path:
          type: string
          description: 從最上層到此節點的標題路徑，以 `/` 分隔。
          example: 1 分/1 大本經
        lb:
          type: string
          description: 目次節點所在頁、欄、行。
          example: 0001b11
        linehead:
          type: string
          description: 目次節點的行首資訊。
          example: T01n0001_p0001b11

    CatalogEntryList:
      type: object
      additionalProperties: false
      required: [num_found, label, results]
      properties:
        num_found:
          type: integer
        label:
          type: [string, 'null']
          description: 查詢節點本身的標題；`q=root` 或查無節點時為 null。
          example: 部類目錄
        results:
          type: array
          items:
            $ref: '#/components/schemas/CatalogEntryNode'

    CatalogEntryNode:
      type: object
      additionalProperties: false
      required: [n, node_type]
      properties:
        n:
          type: string
          description: 目錄節點編號，可用於取得下層節點。
          example: CBETA.001
        label:
          type: string
          example: 01 阿含部類 T01-02,25,33 etc.
        node_type:
          type: [string, 'null']
          enum: [work, alt, html, null]
          description: |
            `work`：指向某部佛典；`alt`：CBETA 未收錄此經全文，對應到其他藏經的全文；
            `html`：指向說明文件（`file` 為其路徑）；null：一般目錄節點。
        work:
          type: string
          description: 佛典編號（`node_type` 為 `work` 時）。
          example: T0001
        category:
          type: string
          description: 佛典所屬部類（`node_type` 為 `work` 時）。
        creators:
          type: string
          description: 佛典的作譯者（`node_type` 為 `work` 時）。
        juan_start:
          type: integer
          description: 節點所指向的起始卷。節點可能只指向佛典的部份卷數。
        juan_end:
          type: [integer, 'null']
          description: 節點所指向的結束卷。
        file:
          type: string
          description: XML 檔的主檔名；`node_type` 為 `html` 時為說明文件路徑。
          example: T01n0001
        lb:
          type: string
          description: 節點所指向的頁、欄、行。
          example: 0540a16

    ChangeList:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
        results:
          type: array
          description: 依版本由新到舊排序。
          items:
            $ref: '#/components/schemas/ChangeEntry'

    ChangeEntry:
      type: object
      additionalProperties: false
      required: [work, juan, lb, html, ver]
      properties:
        work:
          type: string
          example: A1057
        juan:
          type: integer
        lb:
          type: string
          description: 行首資訊。
          example: A091n1057_p0321a10
        html:
          type: string
          description: 修訂後的該行內容，刪除的文字以 `<span class="del">`、新增的文字以 `<span class="ins">` 標示。
        ver:
          type: string
          description: 修訂所在的 CBETA 版本。
          example: 2025R2
        del_chars:
          type: [integer, 'null']
          description: 刪除的字數。
        ins_chars:
          type: [integer, 'null']
          description: 新增的字數。

    CreatorExport:
      type: object
      additionalProperties: false
      required: [num_found, results]
      properties:
        num_found:
          type: integer
        results:
          type: object
          description: 以作譯者 ID 為 key。
          propertyNames:
            pattern: '^A\d{6}$'
          additionalProperties:
            $ref: '#/components/schemas/CreatorAliases'

    CreatorAliases:
      type: object
      additionalProperties: false
      required: [regular_name]
      properties:
        regular_name:
          type: string
          description: 作譯者的正式名稱。
          example: 金總持
        aliases_all:
          type: array
          description: 所有別名。
          items:
            type: string
        aliases_byline:
          type: array
          description: 出現在作譯者行的別名。
          items:
            type: string

    WordSegResult:
      type: object
      additionalProperties: false
      required: [segmented]
      properties:
        segmented:
          type: array
          description: 分詞結果，標點符號也各自成為一個元素。
          items:
            type: string
          example: [觀自在菩薩, ，, 行, 深, 般若波羅蜜多, 時, 。]

    WordSegError:
      type: object
      description: |
        分詞的錯誤回應（HTTP 200）。缺少 `payload` 時 `code` 為 400；
        分詞程式執行失敗時只有 `message`。
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [message]
          properties:
            code:
              type: integer
            message:
              type: string
              example: 缺少 payload 參數

    AsiaCollection:
      type: object
      additionalProperties: false
      required: [uuid, name, resourceCount]
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
          description: 藏經 ID 與名稱。
          example: A 趙城金藏
        resourceCount:
          type: integer
          description: 典籍數。

    AsiaResource:
      type: object
      additionalProperties: false
      required: [uuid, name]
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
          description: 佛典編號與題名。
          example: M1540 大慧普覺禪師普說

    AsiaSection:
      type: object
      additionalProperties: false
      required: [uuid, title, parentUuid, uri, contentUnitCount]
      properties:
        uuid:
          type: string
          format: uuid
        title:
          type: string
          example: M1540 大慧普覺禪師普說 第1卷
        parentUuid:
          type: 'null'
        uri:
          type: string
          format: uri
          description: |
            卷清單裡是 CBETA Online 的閱讀網址；`/api/sections/{uuid}` 裡是該卷純文字檔的網址。
          example: http://cbetaonline.dila.edu.tw/M1540_001
        contentUnitCount:
          type: integer
          const: 1

    AsiaContentUnit:
      type: object
      additionalProperties: false
      required: [uuid, title, contents]
      properties:
        uuid:
          type: string
          format: uuid
        title:
          type: string
          example: M1540 大慧普覺禪師普說 第1卷
        contents:
          type: string
          description: 整卷純文字（含檔頭的經文資訊）。
