%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => root_path } 
    CBETA API
    =Rails.configuration.x.ver
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      =render 'layouts/navbar_catalog'
      =render 'layouts/navbar_work'
      =render 'layouts/navbar_sphinx'
      %li.nav-item
        =link_to 'KWIC3', { controller: 'static_pages', action: 'kwic3_juan'}, class: 'nav-link'
      =render 'layouts/navbar_download'
      =render 'layouts/navbar_export'
      =render 'layouts/navbar_chinese_tools'
      %li.nav-item
        =link_to 'SHINE API', { controller: 'static_pages', action: 'rise_shine'}, class: 'nav-link'
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          API 通用參數 
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'callback')}
            callback
          %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'category')}
            category 部類
      =render 'layouts/navbar_report'

    =render 'layouts/navbar_right'