%li.nav-item.dropdown
  %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Search
  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search') }
      一般全文檢索
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_extended') }
      擴充語法檢索
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_filter')}
      限制搜尋範圍
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_vars')}
      異體字
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_synonym')}
      近義詞 (near synonyms)
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_sc')}
      簡體字
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_facet')}
      Facet
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_all_in_one')}
      All in One
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_notes')}
      Notes
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_title')}
      Title
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'search_kwic')}
      KWIC
