%li.nav-item.dropdown
  %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Work
  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
    =link_to '取得某部典籍的資訊', { controller: 'static_pages', action: 'work'}, class: 'dropdown-item'
    =link_to '典籍內目次', { controller: 'static_pages', action: 'toc'}, class: 'dropdown-item'
    =link_to '取得某卷 HTML', { controller: 'static_pages', action: 'get_html'}, class: 'dropdown-item'
    =link_to 'Go to', { controller: 'static_pages', action: 'goto'}, class: 'dropdown-item'
    =link_to '取得行號範圍文字', {controller: 'static_pages', action: 'line'}, class: 'dropdown-item'
    =link_to '字數統計表', { controller: 'works', action: 'word_count' }, |
             class: 'dropdown-item'