%li.nav-item.dropdown
  %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Download 
  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'download_html')}
      HTML版佛典
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'download_text')}
      純文字版佛典
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'download_docusky')}
      DocuXml
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'download_ebooks')}
      電子書
    %a.dropdown-item{ href: url_for(controller: 'static_pages', action: 'download_footnotes')}
      校註